/***** style for Navbar*****/
.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#008080;
  height:28px;
  width:28px;
  margin:1px;
  margin-right:10px;
  margin-left:4px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}

.head-top .left-nav ul li a {
    color: #008080;
    /* padding: 0 5px; */
    font-size: 19px;
    display: block;
}
.head-top
{
    background: #008080;
    padding: 10px 0;
    
}

.head-top .right-nav ul li
{
    display: inline-block;
    padding: 0 6px 0 0;
}

.right-nav ul
{
    float: right
}
.wall-content
{
    margin-top: 26px;
}
a.users-id
{
    color: #fff;
}
/***** end style for Navbar*****/
#shortcut_page
{
	padding: 20px;
}
/*.notification_page .message
{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
    padding: 5px;
}*/

.notification_page h1
{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #fff;
    margin-top: 4px !important;
}
.panel-sidebar
{
	background-color: #e9eaed;
	
}

.text .user_img
{
	height: 16px;
	width: 16px;
}

.text #user_name
{
	color:#000;
	font-size:14px;

}
.text a#user_name:hover
{
	text-decoration: underline;
	color: #003322;

}
.panel-sidebar ul li:hover
{
    background-color:#ddd;
    

}
 h4.navHeader
}
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
 h4.navHeader:hover
{
    text-decoration: underline;
}

#user_sidebar
{
	border-bottom: 1px solid #ddd;
}


 h3.navHeader_2nd
{
    color:#008080;
    font-size: 16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    
}
h3.navHeader_2nd:hover
{
    text-decoration: underline;
    
}
a.navHeader_2nd:hover
{
    text-decoration: underline;
    
}


#notifi-opinion
    {
    display:inline-block;
    float:left;
    }
    
li#notifi-message
    {
    padding:0px;
    margin:0px;
    width:100%;
    list-style-type: none;
    }
    
#notifi-para
    {
    font-size:12px;
    line-height:1px;
    }

    .panel-img img
    {
      width:80%;
    }
    h4.media-heading_2nd
{
	font-size: 12px;
	color:#000;
	font-weight: bold;
}
h4.media-heading_2nd:hover
{
	text-decoration: underline;
}
.icon_setting
{
	float:right;
	font-size: 20px;
}
.btn-report
{

  background-color: #008080;
 padding: 5px;
}
.btn-report:hover
{

  background-color: #008080;
  opacity: 0.8;
 
}
a.btn-report
{
  color:#fff;
  text-align: center;
}


   
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border: 2px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

   

    legend#feed_menu
    {
     text-align: center;
    }
    
    #news
    {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*width: 58px;*/
    }
    fieldset.menu_101
    {
        margin-bottom: 12px;
    }
    .panel-thumbnail img
    {
     height:246px;
     width: 478px;
    /* margin-left: 18px; */   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    @media screen and (max-width: 500px){
        .panel-thumbnail img
        {
            margin-left: 0px;
        }
    }
    #note_page101
    {
        text-align: center;
        width:308px;
        font-size: 15px;
        font-weight: bold;
    }
    .panel-feed 
    {
        background-color:#777;
        border-radius: 1%;
        height: 28px;
    }

    @media screen and (min-width: 360px) and (max-width: 500){
        fieldset
        {
      position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;}
        }
    }




    .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

..button_box
{
    margin-left: 102px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
p.notes_upload
{
    padding: 28px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}

#user_upload_notes
{

    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*width: 322px;*/
}
#user_sponsered{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
   /* width: 99px;*/
}
.sponser_link
{
    color:#008080;
    font-weight: bold;
    margin:14px 14px;
}
span.sponser_link:hover
{
    text-decoration: underline;
}
.btn-like-button
{
        border-color: #cccccc #c5c6c8 #b6b7b9;
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
    float: right;
    margin-top: -38px;
}
.btn-like-button:hover
{
background-color: #008080;
}
/* css  for tool *****************/
h5#people-id
{
    font-size: 12px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.panel-head {
    
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


#notifi-parah
{
    font-size: 11px;
}
span.view_all
{
    color: #627aad;
    font-weight: bold;
    font-size: 12px;

}
.view_all span:hover
{
    text-decoration: underline;


}



.panel-top
{
    border-bottom: 1px solid #ddd;
    height: 123px;
    padding: 11px;
}
.panel-top img
{
    width: 70%;
}
.panel-img
{
    border-bottom: 1px solid #ddd;
      padding: 11px;
}

h5#survey-id
{
    font-size: 16px;
    text-align: center;
    color: #000;
}


a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment
{
    font-size:11px;
    color:#4873b2;
}
/*.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}*/


.panel-sponsered_img img
{
    height: 133px;
    width: 254px;
}
#sponser_title
{
    font-size: 12px;
    padding:12px;
    margin-left: -13px;

}
#website_link
{
    color:#008080;
    margin-top: -22px;
}
.sponser_detail
{
    font-family: sans-serif;
    font-size: 14px;
}
.panel-chat
{
   
    border-color: #ddd;
}
.panel-headingroom
{
    /*padding: 10px 15px;*/
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #008080;
}

h5#chat_room
{
     color: #fff !important;
    font-size: 20px;
    text-align: center;

}
h5#chat-user
{
    font-size: 12px;
}



 .scrollbar
{
  padding: 0;
    max-height: 183px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left:0px;
    
    padding: 12px 12px;
  
}
.panel-headingsearch
{
    
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ddd;

}
input#b {
        /* width: 100%; */
    border: 0;
    border-radius: 20px;
    background: transparent;
    /* height: 16px; */
    color: #b4bdc4;
    text-shadow: 0 1px 1px #f5f5f5;
    border-color: #fff;
    text-align: center;
}
.setting_id
{
    float: right;
    padding: 24px;
    margin-top: -48px;
    font-size: 17px;
}

div.scroll {
    height: 1250px;
    overflow: scroll;
    overflow-x:hidden;
}
/*css for Q/A menu**************/

h5#QA_id
{
    font-size: 12px;
    color: red !important;
    font-family: sans-serif;
    line-height: 1.5;
    margin-left:12px;
}
.answer_button
{
    margin-left: 16px;
}
.view_button
{
    margin-left: 29px;
}
a.answer_button , a.view_button
{
    color:#4e5665;
    font-weight: bold;
}

a.answer_button:hover,a.view_button:hover
{
    text-decoration:underline;
    color:#1a66ff;
}
.QA_title
{
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}



#chat .user-status.is-online {
    background-color: #06b53c;
}
#chat .user-status.is-busy {
    background-color: #ee4749
    }
    #chat .user-status.is-idle {
    background-color: #f7d227;
}
#chat .user-status {
    display: inline-block;
    background: #575d67;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 8px;
    -moz-background-clip: padding;
    border-radius: 8px;
    background-clip: padding-box;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#chat .chat-group > strong, #chat .chat-group > a {
    display: block;
    /*padding: 6px 35px;*/
}

#chat .chat-group > a {
    position: relative;
    /*color: #bec0c2;*/
    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    -o-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
}

.chat-header
{
    font-size: 16px;
}
/************** CSS for scrolltop************/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

.font_gears
{
    
    color: #008080;
    margin-right: -78px;
    font-size: 17px;
    margin-top: -16px;
}
.notification span
{
        color: #008080;
    /* margin-left: 185px; */
     margin-right: -39px;
    font-size: 17px;
    margin-top: 25px;
}

.notifications span
{
        color: #008080;
    /* margin-left: 185px; */
     margin-right: -24px;
    font-size: 17px;
   
}

.chat-list .dropdown-menu {
    left: -238px;
    right: 0;
    width: 100%;
    margin-bottom: -33px;
}
.chat-list .dropdown-menu > li:hover > a{
    background:#008080 ;
color: #fff !important}

.btn-notes
{
    background-color:#008080;
    padding: 3px;
}
a.btn-notes,a.btn-project, a.btn-thoughts
{
   color:#fff;
}
.btn-project
{
    background-color:#c11f61;
    padding: 3px;
}

{
   color:#fff;
}
.btn-thoughts
{
    background-color:#49b7e9;
    padding: 3px;
}

.btn-project:hover ,.btn-notes:hover ,.btn-thoughts:hover 
{
    opacity: 2;
    background-color:black; 
}
span.ticker-word
{
    color:#9197a3;
    font-size:12px;
}
.ticker-head a
{
    color:#008080;
    font-size: 14px;
    font-weight: bold;
}
#ticker-name  a:hover 
{
    text-decoration: underline;
    color: red;
}
.ticker-head
{
    border-bottom: 1px solid #ddd;
    margin-top: -15px;
}

.panel-rgtbar
{
    padding: 8px;
    margin-top: -14px;
}
 h5
    {
    font-family: 'Open Sans', sans-serif;
    color: #000 !important;

}

strong {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.28;
    }

    iframe, object, embed {
        max-width: 100%;
}

.Qa-content
{
    margin-top: -1px;
}



a.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}
a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
    color: #000;
    border-color: #444;
}
a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover { border-left: solid 1px #999 }
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.big {
    font-size: 16px;
    padding: 10px 15px;
}
a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}

a.add {
    background: url(../images/books.png) 8px 6px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.add-big {
    background: url(http://cssdeck.com/uploads/media/items/5/5Fm069k.png)  15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
.chat-listed .dropdown-menu {
    left: -247px;
    right: 0;
    width: 100%;
    margin-bottom: -12px;
}

.QA-list
{
    margin-top: -12px;
}

/* Generic form fields */
/* styling for view-page*********************/

 h3#response-title
{
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding:22px;

}
.friend-request p
{
    margin: -33px 0px 0px 2em;
    font-size: 11px;
    color: #008080;
}

li.message-preview {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 12px;
    
    }
    .message-preview img
    {
        width: 80px;
        height: 80px;
    }
    #request-button{
    display: inline-block;
    padding: 12px;
   
}

.personal-contact h3
{
    color: #888;
    font-size: 14px;
    font-weight: bold;
    padding:17px;
    border-bottom: 1px solid #ddd;
}
.contact-logo
{
    margin-left: 16px;
}

.contact-logo li
{
    display: inline-block;
    margin-left: 0px;
}
.contact-logo img
{
    height: 35px;
    width: 35px;
    border-bottom: 1px solid #ddd;
 }
.contact-logo img:hover
{
  
  border:1px solid #ddd;

}
.personal-para p
{
    font-size: 12px;
    line-height: 14px;
    padding: 12px;
}
.contact-form
{
    margin-top: -18px;
    padding: 12px;
}
#add-button
{
    margin-top: -20px;
    padding: 2px
}
.search-form
{
    padding: 12px;
    margin-top: -18px;
}
.form-field
{
    line-height: 18px;
}
.connect-friend
{
    margin-left: 12px;
}
.form-place
{
    height: 28px;
}

.sponser_summary {
    font-family: sans-serif;
    font-size: 12px
    }

    .panel-bar
    {
    padding: 8px;
    margin-top: -1px
    }

    @media screen and (min-width: 768px){
     
        #add-button
        {
            margin-left: 12px;

        }

    }
     @media screen and (min-width: 414px){
        #add-button
        {
            margin-left: 12px;
        }
      

    }
     @media screen and (max-width: 360px){
        #add-button
        {
            margin-left: 12px;
        }
      
    }

     @media screen and (min-width: 320px){
        #add-button
        {
            margin-left: 12px;
        }
       
    }
.Accept-button
{
    color: #4e5665;
}
.Accept-button:hover
{
    color:#008080;
}


/**** style for Mytimeline page***************************/
.user-information
{
    padding: 8px;
}
a#user_info
{
 font-size:12px;
}
.media-body #user_info a:hover
{
    text-decoration: underline;
    
}
.user-information .media-left
{
    padding-right: 6px;
  
}
.user-information .media
{
   margin-top: 5px;

}
hr#user-line
{
    margin-top: 4px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}

.btn-like-sponser {
    border-color: #cccccc #c5c6c8 #b6b7b9;
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
   }

