body{
	margin:0;
	font-family: 'Roboto-Regular';
	background: #fff;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Abel-Regular';
    src: url(../fonts/Abel-Regular.ttf) format('truetype');
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}

div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
        font-family: 'Open Sans', sans-serif;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    padding-bottom: 7px;
}
ul.nav.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em;
    padding-bottom: 1em;
}
.sign-with {
    margin-top: 85px;
    padding: 10px;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*----*/
/*--top-nav--*/
.header {
    margin: 2em 0 0;
    border-bottom: 5px solid #C7C2C2;
    box-shadow: 1px 3px 1px #D0CFCF;
}
.navbar-header h1 {
    font-size: 3em;
	font-family: 'Abel-Regular';
}
.navbar-header h1 img {
    margin-right: 0.3em;
}
.navbar-header h1 a{
	color:#000;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:none !important;
}
.navbar-nav > li {
    margin-right: 2.5em;
}
.navbar-nav > li > a {
    font-size: 1.1em;
    padding: 0;
	line-height: 35px;
}
.navbar-default .navbar-nav > li > a {
    color: #555;
}
.navbar-nav > li.active a ,.navbar-nav > li.active1 a.dropdown-toggle{
    color: #f00 !important;
    border-top: 2px solid #f00;
    border-bottom: 2px solid #f00;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
nav.navbar.navbar-default {
    background: none;
    border: none;
}
/*--hover effect6--*/
/* Yaku */
.link--yaku {
	overflow: hidden;
}
.link--yaku::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-width: 2px 0;
	border-color: #F00000;
	border-style: solid;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--yaku:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--yaku span {
	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
}

.link--yaku:hover span {
	color: #F00000;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.link--yaku span:nth-child(4),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.link--yaku span:nth-child(3),
.link--yaku:hover span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.link--yaku span:nth-child(2),
.link--yaku:hover span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.link--yaku span:first-child,
.link--yaku:hover span:nth-child(4) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
/*--end hover--*/
/*--drop-down--*/
.dropdown-menu {
    min-width: 115px;
}
ul.dropdown-menu li {
    border-bottom: 1px solid #888;
}
.dropdown-menu > li > a {
    padding: 0.8em 1.5em;
    font-size: 1em;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #F00000;
}
.navbar-left span.caret {
    margin-left: 10px;
}
.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
    top: 171%;
    border-top: 5px solid #CC2127;
	padding: 0;
}
/*--//drop-down--*/
.header-text {
    width: 13%;
    margin-left:5em;
}
.header-text p {
    font-size: 0.8em;
    line-height: 1.6em;
    color: #999;
}
.header-right {
    float: right;
}
.top-nav-text {
    margin: 0 0 2em 4.5em;
}
.top-nav-text ul li {
    display: inline-block;
    margin-right: 2em;
    vertical-align: middle;
}
.top-nav-text ul li:nth-child(3) {
    margin: 0;
}
.top-nav-text li {
    font-size: 0.9em;
    color: #999;
}
.top-nav-text  a.email-link {
    color: #666;
}
.top-nav-text a.email-link:hover{
    color: #F00000;
}
.top-nav-text li span {
    color: #666;
}
.top-nav-text ul.social-icons  li {
  display: inline-block;
  margin-right: 5px;
}
.social-icons a {
    background: url(../images/sprite.png)no-repeat 0px 0px;
    display: block;
    width: 33px;
    height: 30px;
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-icons a:hover {
    transform: rotatey(360deg);
}
.social-icons a.pin{
	background:url(../images/sprite.png)no-repeat 0px -35px;
}
.social-icons a.in{
	background:url(../images/sprite.png)no-repeat 0px -69px;
}
/*--banner--*/
.banner{
	background:url(../images/banner.jpg)no-repeat 0px 0px;
	background-size:cover;
	min-height:600px;	
}
.banner-info {
    margin-top: 17%;
    text-align: center;
}
.banner-info h2 {
    font-size: 4em;
    color: #fff;
    font-family: 'Abel-Regular';
	font-style: italic;
}
.banner-info p {
    font-size: 1em;
    color: #fff;
    width: 38%;
    margin: 1em auto 2em;
    line-height: 1.8em;
}
.banner-info a {
    font-size: 1.1em;
    color: #fff;
    border: 1px solid #fff;
    padding:0.9em 5em;
    display: inline-block;
	background-color: #F00000;
	border-radius: 4px;
}
/*--hover effect6--*/
.effect6{
	color:rgba(0,0,0, 0) !important; 
	transition: all .3s ease;
	text-shadow:0 0 0  #fff, 0 -45px 0 #000 ;
	overflow: hidden;
}
@-webkit-keyframes drop {
	0%{text-shadow:0 0 0  #fff, 0 -45px 0 #000 ;}
	20% {text-shadow:0 0 0  #fff, 0 -15px 0 #000 ;}
	30%{text-shadow:0 15px 0  #fff, 0 0px 0 #000 ;}
	40%{text-shadow:0 45px 0  #fff, 0 0px 0 #000 ;}
	41%{text-shadow:0 45px 0  #fff, 0 0px 0 #000 , 0 -45px 0 #fff ;}
	70%{text-shadow:0 45px 0  #fff, 0 15px 0 #000 , 0 0px 0 #fff ;}
	80%{text-shadow:0 45px 0  #fff, 0 45px 0 #000 , 0 0px 0 #fff ;}
	100%{text-shadow:0 45px 0  #fff, 0 45px 0 #000 , 0 0px 0 #fff ;}
}/*safari and chrome*/
@keyframes drop {
	0%{text-shadow:0 0 0  #fff, 0 -45px 0 #000 ;}
	20% {text-shadow:0 0 0  #fff, 0 -15px 0 #000 ;}
	30%{text-shadow:0 15px 0  #fff, 0 0px 0 #000 ;}
	40%{text-shadow:0 45px 0  #fff, 0 0px 0 #000 ;}
	41%{text-shadow:0 45px 0  #fff, 0 0px 0 #000 , 0 -45px 0 #fff ;}
	70%{text-shadow:0 45px 0  #fff, 0 15px 0 #000 , 0 0px 0 #fff ;}
	80%{text-shadow:0 45px 0  #fff, 0 45px 0 #000 , 0 0px 0 #fff ;}
	100%{text-shadow:0 45px 0  #fff, 0 45px 0 #000 , 0 0px 0 #fff ;}
}
.effect6:hover{
  -webkit-animation: drop .6s 1 linear; 
 animation: drop .6s 1 linear;
}
/*--end hover--*/
.banner-bottom {
    padding: 2em 0;
    text-align: left;
    background-color: #353434;
}
.banner-bottom h4 {
    font-size: 2em;
    color: #fff;
    font-family: 'Abel-Regular';
}
.banner-bottom h4 span {
    color: #F00;
    font-style: oblique;
}
.banner-bottom p {
    font-size: 1em;
    color: #9A9A9A;
    margin-top: 0.2em;
}
/*--//Shortcodes--*/
/*---- responsive-design -----*/
@media(max-width:1440px){
}
@media(max-width:1366px){
.contact-grdl {
    width: 11%;
}
}
@media(max-width:1280px){
}
@media(max-width:1080px){
.navbar-header h1 {
    font-size: 2.8em;
}
.header-text {
    width: 16%;
    margin-left: 3em;
}
.top-nav-text ul li {
    margin-right: 1.5em;
}
.navbar-nav > li > a {
    font-size: 1em;
    line-height: 32px;
}
.navbar-nav > li {
    margin-right: 2.3em;
}
ul.nav.navbar-nav.navbar-left {
    float: right !important;
}
.navbar-nav > li:nth-child(5) {
    margin: 0;
}
.banner {
    min-height: 550px;
}
.banner-info h2 {
    font-size: 3.5em;
}
.banner-info p {
    width: 43%;
}
.banner-info a {
    padding: 0.7em 4em;
}
.banner-bottom h4 {
    font-size: 1.7em;
}
.feature-grids {
    padding: 0 !important;
}
.features p {
    font-size: 0.9em;
    margin-top: 1.5em;
}
.more {
    margin-top: 1.5em;
}
.pince h5 {
    font-size: 1.5em;
}
.features p {
    margin-top: 1em;
}
h3.title {
    font-size: 1.8em;
}
.project-right {
    padding: 1.7em 1.8em;
}
.project-right p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin-top: 1.2em;
}
.about .grid-top h4 {
    font-size: 1.3em;
    letter-spacing: 3px;
}
.about-grids.grid-top {
    padding-left: 0 !important;
}
.time-top h4 {
    font-size: 1.5em;
}
.time-bottom h5 {
    font-size: 1.1em;
    letter-spacing: 0px;
}
.time-bottom p {
    font-size: 0.9em;
}
.callbacks_nav.next {
    right: 9%;
}
.testi h3.title1 {
    font-size: 2.3em;
}
.about .grid-top p {
    margin: 1em 0 2em;
}
.about-slid {
    padding: 5.5em 0;
}
.about-slid-info {
    width: 85%;
}
.about-slid h2 {
    font-size: 2.8em;
}
.about-team-grids {
    width: 24.45%;
}
.about-team-grids:hover .caption {
    top: 42%;
}
.caption {
    width: 88%;
}
.about-team-grids h4 {
    margin: 1.2em 0 0.8em;
}
.about-team-grids h4 span {
    font-size: 1.2em;
}
.about-team-grids p {
    font-size: 0.9em;
}
.servcs-info {
    margin-top: 5em;
}
.servcs-info h4 {
    font-size: 1.8em;
}
.servcs-info p {
    font-size: 0.9em;
}
.footer {
    padding: 5em 0;
}
.contact-form input[type="text"] {
    width: 37%;
}
.contact-form input[type="submit"] {
    padding: .5em 2.5em;
}
.map iframe {
    min-height: 300px;
}
.services a.diamond {
    margin: 24px;
    width: 120px;
    height: 120px;
}
.services span.glyphicon {
    font-size: 2.5em;
    top: 32%;
    left: -2%;
}
p.servc-text {
    font-size: 1.4em;
    top: 39%;
    left: 16%;
}
.services a.diamond:hover span.glyphicon {
    top: 19%;
}
}
@media(max-width:1024px){
}
@media(max-width:991px){
.navbar-header h1 {
    font-size: 2.5em;
}
.navbar-header h1 img {
    width: 32%;
}
.header-text {
    width: 13%;
    margin-left: 1em;
}
.top-nav-text {
    margin: 0 0 1.8em 1em;
}
.top-nav-text ul li {
    margin-right: 0.75em;
}
.top-nav-text ul.social-icons li {
    margin-right: 0;
}
.social-icons a {
    background-position:-2px 3px;
    width: 28px;
    height: 28px;
    background-size: 116%;
}
.social-icons a.pin {
    background-position:-2px -26px;
    background-size: 116%;
}
.social-icons a.in {
    background-position:-2px -54px;
    background-size: 116%;
}
.navbar-nav > li {
    margin-right: 1.6em;
}
.navbar-nav > li > a {
    font-size: 0.9em;
    line-height: 27px;
}
.dropdown-menu > li > a {
    font-size: 0.85em;
}
.navbar-right .dropdown-menu {
    top: 180%;
}
.dropdown-menu {
    min-width: 96px;
}
.banner {
    min-height: 500px;
}
.banner-info h2 {
    font-size: 3em;
}
.banner-info p {
    width: 64%;
}
.banner-info {
    margin-top: 21%;
}
.banner-info a {
    padding: 0.6em 4em;
}
.banner-bottom p {
    font-size: 0.9em;
}
.features, .services,.about, .about-team, .contact ,.codes,.gallery-top{
    padding: 4em 0;
}
.feature-grids:nth-child(2) {
    width: 35%;
    margin: 0 auto;
}
.pince-left {
    width: 9%;
}
.pince-right {
    width: 87%;
}
.footer-left, .footer-right {
    float: left;
    width: 50%;
}
.contact-grdl {
    width: 13%;
}
.footer-grids {
    margin-top: 3em;
}
.footer {
    padding: 4em 0 3em;
}
.copy-right ul li a {
    width: 45px;
    height: 45px;
    background-size: 406%;
}
.copy-right ul li a:hover {
    background-position: 0px -45px;
}
.copy-right ul li a.gg {
    background-position: -44px 0px;
    width: 44px;
    background-size: 408%;
}
.copy-right ul li a.gg:hover {
    background-position: -44px -45px;
}
.copy-right ul li a.twt {
    background-position: -87px 0px;
    width: 44px;
    background-size: 409%;
}
.copy-right ul li a.twt:hover {
    background-position: -87px -45px;
}
.copy-right ul li a.be {
    background-position: -134px 0px;
    background-size: 406%;
}
.copy-right ul li a.be:hover {
    background-position: -134px -45px;
}
.about-info {
    margin-top: 2em;
}
.about .grid-top p {
    font-size: 0.9em;
}
.about-imgs {
    float: left;
    width: 33.33%;
}
.about-grids {
    padding: 0;
    margin-top: 2em;
}
.time-bottom {
    padding: 2em;
}
.callbacks_nav.next {
    right: 3.5%;
}
.about-slid-info {
    width: 100%;
}
.about-slid h2 {
    font-size: 2.4em;
}
.about-slid p {
    font-size: 0.9em;
}
.team-info {
    margin-top: 3em;
}
.about-team-grids {
    width: 24.3%;
    float: left;
}
.about-team-grids p {
    font-size: 0.85em;
}
.caption ul {
    padding: 0.8em 0 .3em;
}
.about-team-grids:hover .caption {
    top: 35%;
    width: 84%;
}
.about-team-grids h4 {
    font-size: 1em;
}
.about-servcs h5 {
    font-size: 1.2em;
    letter-spacing: 5px;
}
.about-servcs {
    margin-bottom: 4em;
}
.servcs-info {
    margin-top: 0;
}
.sevcs-grids {
    margin-top: 3em;
}
.servcs-info h4 {
    font-size: 1.6em;
}
.gallery-grid {
    float: left;
    width: 50%;
    margin-bottom: 1em;
}
.gallery-grid-top {
    padding: 0;
    float: left;
    width: 50%;
}
.gallery-right {
    padding: 0;
    float: left;
    width: 50%;
}
.gallery-grid-img {
    padding-left: 0;
    float: left;
    width: 50%;
}
.middle-gallery-grid {
    width: 33.33%;
    margin-bottom: 0em;
}
.contact-info h5 {
    font-size: 1.4em;
}
.contact-info p {
    font-size: 0.9em;
}
.contact-info h3.title1 {
    font-size: 2.2em;
}
.contact-form form {
    margin-top: 1.5em;
}
.contact-form input[type="text"] {
    width: 39%;
}
.contact-grids {
    margin-top: 2em;
}
.map iframe {
    min-height: 250px;
}
}
@media(max-width:768px){
.navbar-header h1 {
    font-size: 2.2em;
}
.navbar-header h1 img {
    width: 29%;
}
.header-text {
    margin-left: 0.5em;
}
.navbar-nav > li {
    margin-right: 1.8em;
}
.navbar-left span.caret {
    margin-left: 5px;
}
.navbar-nav > li {
    margin-right: 1.9em;
}
div#bs-example-navbar-collapse-1 {
    margin: 0;
}
.navbar-right .dropdown-menu {
    top: 165%;
}
.top-nav-text {
    margin: 0 0 1.8em 2.2em;
}
.banner {
    min-height: 400px;
}
.banner-info h2 {
    font-size: 2.5em;
}
.banner-info p {
    font-size: 0.9em;
}
.banner-info {
    margin-top: 17%;
}
.banner-info a {
    padding: 0.5em 3.5em;
    font-size: 1em;
}
.banner-bottom h4 {
    font-size: 1.5em;
}
.banner-bottom p {
    font-size: 0.85em;
    margin-top: 0.5em;
}
.services a.diamond {
    margin: 18px;
    width: 90px;
    height: 90px;
}
.services span.glyphicon {
    font-size: 1.9em;
    top: 29%;
    left: -5%;
}
p.servc-text {
    font-size: 1.1em;
    top: 41%;
    left: 16%;
}
h3.title1 {
    font-size: 2.8em;
}

}
@media(max-width:767px){
.navbar-header.navbar-left {
    float: left;
    margin: 0;
}
.header-text {
    float: left;
    margin-left: 3em;
    width: 21%;
}
.top-nav-text ul li {
    margin: 0 0 0.5em 0;
    display: block;
}
.top-nav-text ul.social-icons li {
    margin: 0 3px 0 0;
}
.top-nav-text {
    margin: 0 0 1.8em 3em;
    display: inline-block;
}
ul.nav.navbar-nav.navbar-left {
    float: none !important;
    text-align: center;
    display: table;
    margin: 0 auto;
}
.navbar-nav > li {
    margin: 1em 0 0 0;
}
.navbar-nav > li:nth-child(5) {
    margin: 1em 0;
}
nav.navbar.navbar-default {
    margin-bottom: 0;
}
.header-right {
    float: none;
}
.navbar-default .navbar-toggle {
    border-color: #F00000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #F00000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #F00000;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #fff;
}
}
@media(max-width:640px){
.banner.about-bnr {
    min-height: 100px;
}
.header-text {
    margin-left: 1em;
}
.footer-grids {
    margin-top: 2em;
}
.footer-left h5 {
    font-size: 1.3em;
}
.contact-grdr p {
    font-size: 0.9em;
}




.gallery-grids-top {
    margin-top: 2em;
}
.features, .services, .about, .about-team, .contact, .codes, .gallery-top {
    padding: 3em 0;
}
h3.title {
    font-size: 1.6em;
}
.more {
    margin-top: 1em;
}
.more a {
    font-size: 0.9em;
}
.services span.glyphicon {
    font-size: 1.9em;
    top: 33%;
    left: 0%;
}
.services-info {
    margin-top: 2.5em;
}
.footer {
    padding: 3.5em 0 2em;
}
.address {
    margin-bottom: 0.8em;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #F00000;
}
.about .grid-top h4 {
    font-size: 1.2em;
    letter-spacing: 2px;
}
.callbacks_nav.next {
    right: 4.2%;
}
.about-slid {
    padding: 4em 0;
}
.about-slid h2 {
    font-size: 2em;
}
.team-info {
    margin-top: 2.5em;
}
.about-team-grids {
    width: 46%;
    float: left;
    margin: 0 0 1.5em 1.5em;
}
.about-team-grids:hover .caption {
    top: 52.5%;
    width: 90%;
}
h3.title1 {
    font-size: 2.5em;
}
.about-servcs h5 {
    font-size: 1.1em;
    letter-spacing: 4px;
}
.servcs-info h4 {
    font-size: 1.5em;
}
.contact-info h5 {
    font-size: 1.2em;
}
.contact-info {
    margin-top: 2em;
}
.contact-info h3.title1 {
    font-size: 2.1em;
}
.contact-form input[type="text"] {
    width: 37.7%;
    margin-right: 1em;
}
}
@media(max-width:600px){
.top-nav-text {
    margin: 0 0 1.8em 1.5em;
}
}
@media(max-width:480px){
.header-text {
    width: 33%;
}
.top-nav-text {
    margin: 0 0 1.5em 1em;
}
.top-nav-text ul li {
    margin: 1.5em 1em 0 0;
    display: inline-block;
}
.top-nav-text ul li:nth-child(3) {
    margin: 2em 1em 0 0;
}
.header-text p {
    font-size: 0.75em;
    line-height: 1.8em;
}
.features, .services, .about, .about-team, .contact, .codes, .gallery-top {
    padding: 2em 0;
}
h3.title1 {
    font-size: 2.3em;
}
.about .grid-top h4 {
    font-size: 1em;
    letter-spacing: 1px;
}
.about .grid-top p {
    font-size: 0.85em;
    margin: 1em 0;
}
.time-top h4 {
    font-size: 1.3em;
}
.time-bottom {
    padding: 1.5em;
}
.time-bottom h5 {
    font-size: 1em;
}
.time-bottom p {
    font-size: 0.85em;
}
.testi p {
    font-size: 0.9em;
}
.callbacks_nav.next {
    right: 5.8%;
}
.about-slid {
    padding: 3em 0;
}
.about-slid h2 {
    font-size: 1.6em;
}
.about-slid p {
    font-size: 0.85em;
}
.about-team-grids {
    width: 46.5%;
    margin: 0 0.5em 1.5em 0.5em;
}
.about-team-grids:hover .caption {
    top: 40.5%;
    width: 86%;
}
.about-servcs {
    margin-bottom: 2.5em;
}
.about-servcs h5 {
    font-size: 1em;
    letter-spacing: 3px;
}
.servcs-info h4 {
    font-size: 1.3em;
}
.servcs-info p {
    font-size: 0.85em;
}
.sevcs-grids {
    margin-top: 2em;
}
.top-nav-text ul.social-icons li:nth-child(3) {
    margin: 0;
}
.banner {
    min-height: 321px;
}
.banner-info h2 {
    font-size: 2.2em;
}
.banner-info p {
    width: 90%;
}
.banner-info a {
    padding: 0.5em 2.5em;
    font-size: 0.9em;
}
.banner-bottom h4 {
    font-size: 1.2em;
}
h3.title {
    font-size: 1.4em;
}
.features p {
    margin-top: 0.5em;
    font-size: 0.85em;
}
.more a {
    padding: 0.5em 1.6em;
}
.pince-left {
    width: 12%;
}
.pince-right {
    width: 82%;
}
.services a.diamond {
    margin: 14px;
    width: 70px;
    height: 70px;
}
.services span.glyphicon {
    font-size: 1.5em;
    top: 31%;
    left: -3%;
}
.services a.diamond:hover span.glyphicon {
    top: 15%;
    left: -20%;
    font-size: 1.2em;
}
p.servc-text {
    font-size: 0.9em;
    top: 41%;
    left: 14%;
}
.footer {
    padding: 3em 0 1em;
}
.footer-left h5 {
    font-size: 1em;
}
.contact-grdl {
    width: 11%;
    padding: 0;
}
.address {
    margin-bottom: 1em;
}
.footer-left .more {
    margin-top: 3em;
}
.contact-grdr {
    padding: 0 0 0 1.5em;
}
.contact-grdr p {
    font-size: 0.85em;
    margin: 0;
}
.contact-grdl span {
    font-size: 1.2em;
}
.copy-right p {
    font-size: 0.9em;
}
.navbar-nav > li {
    margin: 0.5em 0 0 0;
}
.navbar-nav > li > a {
    font-size: 0.85em;
}
.banner.about-bnr {
    min-height: 80px;
}
.contact-info h5 {
    font-size: 1.1em;
}
.contact-info p {
    font-size: 0.85em;
}
.contact-form {
    margin-top: 1em;
}
.contact-info h3.title1 {
    font-size: 1.8em;
}
.contact-form textarea {
    font-size: .85em;
    min-height: 8em;
}
.contact-form input[type="text"] {
    width: 37%;
    margin-right: 0.5em;
    font-size: 0.85em;
}
.contact-form input[type="submit"] {
    padding: .5em 2.4em;
    font-size: 0.9em;
    margin: 0.5em 0 0 0;
}
.contact-grids {
    padding: 0 !important;
}
.cnt-address h4 {
    font-size: 1em;
}
.map iframe {
    min-height: 180px;
}
.footer {
    padding: 2em 0 1em;
}
}
@media(max-width:320px){
.header {
    box-shadow: none;
    margin: 1em 0 0;
}
.navbar-header h1 {
    font-size: 2em;
}
.navbar-header h1 img {
    width: 25%;
}
.header-text p {
    font-size: 0.7em;
    line-height: 1.5em;
}
.header-text {
    width: 40%;
    margin-left: 0em;
}
.top-nav-text {
    margin: 1em 0;
    width: 50%;
}
.top-nav-text ul li {
    margin: .5em 0 0;
    font-size: 0.8em;
}
.top-nav-text ul li:nth-child(3) {
    margin: 0.5em 0 0 0;
}
.navbar-toggle {
    margin-top: 2em;
}
.banner-info h2 {
    font-size: 1.6em;
}
.banner-info p {
    width: 100%;
    font-size: 0.8em;
    margin: 1em auto;
}
.banner-info a {
    padding: 0.5em 2em;
    font-size: 0.8em;
}
.banner {
    min-height: 255px;
}
.banner-info {
    margin-top: 22%;
}
.banner-bottom h4 {
    font-size: 1em;
}
.banner-bottom p {
    font-size: 0.8em;
}
.pince {
    margin-top: 1.5em;
}
.pince h5 {
    font-size: 1.3em;
}
.pince-left {
    width: 16%;
    padding: 0.7em;
}
.pince h4 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}
.pince-right {
    width: 77%;
}
.features p {
    font-size: 0.8em;
    line-height: 1.6em;
}
.project-right {
    padding: 1.5em 1em;
}
.project-right p {
    font-size: 0.8em;
    margin-top: 1em;
}
.services-info {
    margin-top: 1.5em;
}
.services-info {
    margin-top: 1.5em;
    width: 72%;
}
.footer-left, .footer-right {
    float: none;
    width: 100%;
    text-align: center;
}
.footer-left .more {
    margin: 1.5em 0 2em;
}
.contact-grdl {
    width: 15%;
}
.address {
    margin-bottom: 0.8em;
    text-align: left;
}
.copy-right {
    padding: 1em 0;
}
.copy-right p {
    font-size: 0.85em;
    margin-top: 0.5em;
}
.features, .services, .about, .about-team, .contact, .codes, .gallery-top {
    padding: 1.5em 0;
}
h3.title1 {
    font-size: 2.1em;
}
.about .grid-top h4 {
    letter-spacing: 0px;
    line-height: 1.5em;
}
.about .grid-top p {
    font-size: 0.8em;
    margin: 0 0 1em;
}
.about .grid-top p.top {
    margin: 1em 0 0.5em;
}
.time-top h4 {
    font-size: 1.2em;
}
.about-grids {
    margin-top: 1em;
}
.time-bottom {
    padding: 1em;
}
.time-bottom h5 {
    font-size: 0.9em;
}
.testi h3.title1 {
    font-size: 2em;
}
.testi h4 {
    font-size: 1em;
}
.testi p {
    font-size: 0.8em;
}
.testi-slider {
    padding: 2em 1.5em 1em;
}
.callbacks_nav.next {
    right: 9%;
}
.about-slid {
    padding: 2em 0;
}
.about-slid h2 {
    font-size: 1.4em;
}
.about-slid p {
    margin-top: 1em;
    font-size: 0.8em;
    line-height: 1.6em;
}
.about-team-grids {
    width: 100%;
    margin: 0 0 1em 0;
}
.team-info {
    margin-top: 1.5em;
}
.about-team-grids {
    padding: 1em;
}
.about-team-grids h4 {
    margin: 1em 0 0.5em;
}
.about-team-grids p {
    font-size: 0.8em;
    line-height: 1.6em;
}
.about-team-grids:hover .caption {
    top: 56%;
    width: 90%;
}
.about-servcs h5 {
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-top: 0.5em;
}
.servcs-info h4 {
    font-size: 1.1em;
}
.servcs-info p {
    font-size: 0.8em;
    margin-top: 0.8em;
}
.contact-info {
    margin-top: 0em;
}
.contact-grids {
    margin-top: 1.5em;
}
.contact-info h5 {
    font-size: 1em;
    line-height: 1.5em;
}
.contact-info p {
    font-size: 0.8em;
    margin: 0.5em 0 0;
}
.contact-info h3.title1 {
    font-size: 1.5em;
}
.contact-form textarea {
    font-size: .8em;
    min-height: 7em;
}
.contact-form input[type="text"] {
    width: 100%;
    margin: .5em 0;
    font-size: 0.8em;
}
.contact-form form {
    margin-top: 1em;
}
.map iframe {
    min-height: 150px;
}
.gallery-grid-top-img {
    margin: 0;
}
.gallery-right {
    float: none;
    width: 100%;
}
.gallery-grid-img {
    padding: 0;
    float: none;
    width: 100%;
    margin: 1em 0;
}
.gallery-grid-top {
    padding: 0;
    float: none;
    width: 100%;
}
.middle-gallery-grid {
    width: 100%;
    margin-bottom: 1em;
    padding: 0;
}
.gallery-grids-middle {
    margin: 0em 0;
}
.gallery-grid {
    float: none;
    width: 100%;
    margin-bottom: 1em;
}
.gallery-grids-top {
    margin: 1em 0 0 0;
}

}
/*--//responsive-design---*/