@media (max-width:1366px){
    li#status_message a {
    color: #009999;
    padding: 22px;
    font-weight: 700;
    font-size: 16px;
    font-family: Roboto;
}
    .panel-thumbnail {
    position: relative;
    padding-bottom: 43.25%;
    padding-top: 25px;
    height: 0;
}

.menu {
    list-style: none;
    /* line-height: 42px; */
    margin: auto;
    /* outline: 1px solid red; */
    padding-left: 0;
    width: 15em;
    background-color: #d7ebeb;
    margin-top: -24px;
}

}

@media (max-width:1280px){

    .right-nav ul {
    float: none;
    min-width: 500%;
    margin-top: 5px;
}
.wall-content {
    margin-top: 79px;
    }

.kullabs_logo
    {
        margin-left:-2px;
    }

img.kullabs_logo {
margin-top: 0px;
max-width: 130%;
}
.search
{
    width: 100%
}

.menu {
    list-style: none;
    /* line-height: 42px; */
    margin: auto;
    /* outline: 1px solid red; */
    padding-left: 0;
    width: 71%;
    background-color: #d7ebeb;
    margin-left: 1px;
    margin-top:-30px;
}

#buttons-survey img
{
    margin-left: -133px;
}

img.next-button
{
    margin-left:3px;
}
.panel-thumbnail {
    position: relative;
    padding-bottom: 51.25%;
    padding-top: 25px;
    height: 0;
}

}


 @media (max-width:1024px){
  .menu {
    list-style: none;
    margin: auto;
    padding-left: 0;
    width: 74%;
    margin-left: -6px;
    margin-top: -38px;
}
.text #user_name {
    color: #009999;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
}

.right-nav ul {
    float: none;
    min-width: 500%;
    margin-top: 5px;
}

.wall-content
{
margin-top: 64px;
}

#add-button
{
    margin-left: 12px;

}

.panel-thumbnail {
position: relative;
padding-bottom: 50.25%;
padding-top: 25px;
height: 0;
}

}

/*
@media (max-width:848px){
    .col-md-6.col-sm-6.new-contain {
    min-width: 100%;
    margin: 0 0 0 4px;
}
   
   .col-md-3.col-sm-3.tools-content {
    min-width: 100%;
    margin: 0 0 0 4px;
}
.menu-content
{
    margin-top: 84px;
}
img.side_logo {
    width: 28%;
}
.menu {
    list-style: none;
       margin: auto;
     padding-left: 0;
    width: 30%;
    background-color: #d7ebeb;
    margin-left: 1px;
    margin-top: -17px;
}
.feed-content {
    margin-top: -36px;
}

.panel-thumbnail {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 25px;
    height: 0;
}

   }*/

 
 /*
@media (max-width: 568px){

    .wall-content {
    margin-top: 183px;
}

 a.logo.navbar-brand > img{
    display :none;
}

.panel-thumbnail {
    position: relative;
    padding-bottom: 80.25%;
    padding-top: 25px;
    height: 0;
}
.text-muted {
    color: #777;
    margin: 0 0 0 1em;
    }
    strong.post_user 
{
    margin:0 0 0 1em;
    font-family: Roboto;
}

}*/
/*@media (min-width:480px) {

li#status_message a {
    color: #009999;
    padding: 16px;
    font-weight: 700;
    font-size: 13px;
    font-family: Roboto;
}
.panel-thumbnail {
    position: relative;
    padding-bottom: 47.25%;
    padding-top: 25px;
    height: 0;
}
.text-muted {
    color: #777;
    margin: 0 0 0 1em;
    }
    strong.post_user 
{
    margin:0 0 0 1em;
    font-family: Roboto;
}
    }

@media (min-width:360px) {
 
   .menu-content {
    margin-top: -91px;
}
 

 .panel-thumbnail {
    position: relative;
    padding-bottom: 63.25%;
    padding-top: 25px;
    height: 0;
}
.text-muted {
    color: #777;
    margin: 0 0 0 1em;
    }
    strong.post_user 
{
    margin:0 0 0 1em;
    font-family: Roboto;
    font-size: 12px;
}
.panel-body {
    padding: 9px;
    }

}*/
/*
@media (min-width:320px){
     .panel-thumbnail {
    position: relative;
    padding-bottom: 38.25%;
    padding-top: 25px;
    height: 0;
}
.panel-body
{
    padding:40px;
}
}*/

@media (min-width: 768px) {

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  li#status_message a {
    color: #009999;
    padding: 8px;
    font-weight: 700;
    font-size: 13px;
    font-family: Roboto;
}
}




@media (max-width:996px){
.panel-thumbnail {
    position: relative;
    padding-bottom: 57.25%;
    padding-top: 25px;
    height: 0;
}
}
@media (max-width:800px){
    .wall-content {
    margin-top: 63px;
}

 img.kullabs_logo {
        margin-top: 0px;
        max-width: 113%;
    }

.right-nav ul {
    float: none;
    min-width: 500%;
    margin-top: 8px;
}


/*.search {
    width: 86%;
  
    margin: 4px 0 0 58px;
}*/
.menu {
    list-style: none;
    /* line-height: 42px; */
    margin: auto;
    /* outline: 1px solid red; */
    padding-left: 0;
    width: 71%;
    background-color: #d7ebeb;
    margin-left: 1px;
    margin-top: -42px;
    }

    .text #user_name {
    color: #009999;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold
}
.notification_page h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 4px !important;
    font-family: Roboto;
    font-weight: bold;
}

 img.next-button
{
margin-left:2px;

   }
   .panel-thumbnail {
    position: relative;
    padding-bottom: 48.25%;
    padding-top: 25px;
    height: 0;
}
.panel-thumbnail img {
    height: 185px;
    width: 86%;
    margin-left: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
} 

} 

@media (max-width: 767px) {

.menu-content
{
    margin-top: 26px;
}
.col-md-6.col-sm-6.new-contain {
   width: 100%;
    margin: 0px;
    padding: 0px;
}
  img.kullabs_logo {
       display: none;
    }
    .panel-thumbnail {
    position: relative;
    padding-bottom: 27.25%;
    padding-top: 25px;
    height: 0;}
 .panel.panel-rgtbar
{
    display: none;
}
.panel.panel-middlebar
{
    display: none;
}
.panel.panel-thirdbar
{
    display:none;
}
.panel.panel-forthbar
{
    display:none;
}
.sidebar-nav{
     position: fixed;
    top: 81px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.feed-content {
    margin-top: 56px;
    }

}



 @media (max-width: 641px){

    li#status_message a {
    color: #009999;
    padding: 16px;
    font-weight: 700;
    font-size: 12px;
    font-family: Roboto;
}
     img.kullabs_logo {
       display: none;
    }
   
  .menu-content
  {
    margin-top:83px;
  }
 

.feed-content {
    margin-top: 57px;
    }
  img.kullabs_logo
    {
        display: none;
    }  
 .search {
    width: 100%;
    } 
.menu {
    list-style: none;
    /* line-height: 42px; */
    margin: auto;
    /* outline: 1px solid red; */
    padding-left: 0;
    width: 15em;
    background-color: #d7ebeb;
    margin-left: 6px;
    margin-top: -27px;
}
.panel-thumbnail {
    position: relative;
    padding-bottom: 28.25%;
    padding-top: 25px;
    height: 0;
}
.panel-thumbnail img {
    padding: 0px;
    min-width: 86%;
    height: 165px;
}
.col-md-6.col-sm-6.new-contain {
    min-width: 100%;
    margin: 0 0 0 4px;
}
   
   .col-md-3.col-sm-3.tools-content {
    min-width: 100%;
    margin: 0 0 0 4px;
}

     
    }


@media (max-width:727px)
{
    .panel.panel-rgtbar
{
    display: none;
}
.panel.panel-middlebar
{
    display: none;
}
.panel.panel-thirdbar
{
    display:none;
}
.panel.panel-forthbar
{
    display:none;
}

}

@media (max-width: 557px){
.panel-thumbnail {
    position: relative;
    padding-bottom: 31.25%;
    padding-top: 25px;
    height: 0;
}

}

@media (max-width:426px){
    .panel-thumbnail {
    position: relative;
    padding-bottom: 50.25%;
    padding-top: 25px;
    height: 0;
}

li#status_message a {
    color: #009999;
    padding: 16px;
    font-weight: 700;
    font-size: 11px;
    font-family: Roboto;
    }


}
@media (max-width: 425px){
.panel-thumbnail {
    position: relative;
    padding-bottom: 50.25%;
    padding-top: 25px;
    height: 0;
}
li#status_message a {
    color: #009999;
    padding: 16px;
    font-weight: 700;
    font-size: 11px;
    font-family: Roboto;
    }


}
@media (max-width: 393px){
.panel-thumbnail {
    position: relative;
    padding-bottom: 50.25%;
    padding-top: 25px;
    height: 0;
}
li#status_message a {
    color: #009999;
    padding: 16px;
    font-weight: 700;
    font-size: 11px;
    font-family: Roboto;
    }

}


@media (max-width:727px)
{
    .panel.panel-rgtbar
{
    display: none;
}
.panel.panel-middlebar
{
    display: none;
}
.panel.panel-thirdbar
{
    display:none;
}
.panel.panel-forthbar
{
    display:none;
}

}

/*
@media (min-width:466px)
{
    .panel-thumbnail {
    position: relative;
    padding-bottom: 38.25%;
    padding-top: 25px;
    height: 0;
}
}

