/** mobile devices **/
@media screen and (max-width: 500px) {
h1, .h1 {
  font-size: 25px;
}

h4 {
  font-size: 16px;
}

h4#class10 {
  padding: 8px 15px;
}
	
.searchbar .dropdown-menu {
  left: 0;
}

.rgt-nav ul {
  float: left;
}


	
.default-text {
  padding: 0;
}

.search-learn {
  padding-left: 0;
  padding-top: 20px;
}

.learn-more {
  padding: 30px 10px;
}

.learn-more::before {
  display: none;
}

.learn-more::after {
  display: none;
}

.learn-more h3 {
  font-size: 26px;
}

.flexslider .slides img {
  display: block;
  width: auto !important;
  min-width: 100%;
  min-height: 380px;
}

.sponsore .flexslider .slides img {
  min-height: 0px;
}

.number-block {
  margin-bottom: 30px;
}

.media-left, 
.media-right, 
.media-body {
 /* display: block;*/
  margin-bottom: 10px;
  width: auto;
}

.register .modal-dialog {
  width: 300px;
}

.panel-title ul, .panel-body ul {
  padding-bottom: 10px;
}

.dash-menu .dropdown-menu {
  left: -115px;
}

/** blockquote **/
.conversation-block blockquote {
  margin-right: 0;
  padding-left: 90px;
}

.conversation-block:nth-child(2n) blockquote {
  margin-left: 0;
  padding-right: 90px;
}

blockquote h4 span{
	display: none;}
	
.user-profile .back-cover .user-img {
  left: 50%;
  margin-left: -20%;
  top: 30px;
}


.back-cover .user-name {
  left: 50%;
  margin-left: -25%;
}	

.dl-horizontal dd {
  margin-left: 0;
}

.user-profile .user-detail ul {
  margin-left: 0;
}

.dashboard .grade-tag {
	float: none;}

.footer-top div{
	margin-bottom: 20px;}
	


}
	
	
/** small tablet **/
@media screen and (min-width: 501px) and (max-width: 767px) {
	
	
	}
	
/** tablet **/	
@media screen and (min-width: 768px) and (max-width: 960px) {
.carousel-caption {
  left: 10%;
  right: 10%;
  top: 8%;
}

.carousel-caption p {
  margin-bottom: 40px;
}


.carousel-indicators {
  bottom: 3px;
}

.grade-block {
  margin-bottom: 35px;
}

.default-text {
  padding: 0 165px;
  top: 0;
}

.default-text span {
  font-size: 35px;
  line-height: 68px;
}

.carousel-caption a {
  color: #fff;
  font-size: 16px;
  padding: 10px 22px;
}

.carousel-caption p {
  line-height: 27px;
  font-size: 16px;
}

.carousel-caption h3 {
  font-size: 34px;
}

.search-learn {
  padding-left: 10px;
}

.number-block h2 {
  font-size: 45px;
}

.learn-more {
  padding: 30px 10px;
}


.learn-more::after {
  display: none;
}

.media-left, 
.media-right, 
.media-body {
  /*display: block;*/
  margin-bottom: 10px;
}

.inner-grade{
	padding: 0 30px;}

.default-text {
  padding: 0 60px;
}

.note-block img {
  max-width: 145px;
}

.list-head span {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  float: left;
  font-size: 20px;
  padding: 5px 10px;
}

.list-head h5 {
  line-height: 30px;
  padding: 0 10px;
  text-transform: none;
  font-size: 14px;
}

.pagination > li > a, .pagination > li > span {
  line-height: 12px;
}

.side-bar .note-block img {
  max-width: 170px;
}



.dashboard .grade-tag {
	float: none;}
}	
	
/** desktop **/	
@media screen and (min-width: 961px) and (max-width: 1120px) {
.carousel-caption {
  left: 15%;
  right: 15%;
}

.inner-grade{
	padding: 0 30px;}

.learn-more::after {
  display: none;
}

.carousel-caption {
  top: 17%;
}

.carousel-caption p {
  line-height: 35px;
}

.carousel-indicators {
  bottom: 3px;
}

.grade-block {
  margin-bottom: 35px;
}

.default-text {
  padding: 0 165px;
  top: 0;
}

.default-text span {
  font-size: 45px;
  line-height: 82px;
}

.dashboard .grade-tag {
	float: none;}

}		

/** bigger screen  **/
@media screen and (min-width: 1121px) {
	
}
	


@media screen and (min-width: 768px) {
  
.pull-right-md {
  float: right;
}
}