/*===================================================
Layout Style Sheet 
Project: Kullabs Smart School
Author: Ambika Naga ~ (ambicana5@gmail.com)
website: http://www.ambicanaga.com.np/
===================================================*/

body{
	font-family: 'Open Sans', sans-serif;
	color: #333;
	line-height: 25px;}
	
* {
	margin: 0;
	padding: 0;
	}
	
 ul{
	margin-bottom: 0;}
	
ul li {
	list-style: none;
	}
	
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	color: #008080;
	}
	
.cm-col{
	padding-left: 2px;
	padding-right: 2px;}
	
.cm-row{
	margin-left: -2px;
	margin-right: -2px;}
	
	
ul{
	padding: 0;}
	
a{
	transition: all 0.5s ease;}

ol li{
	list-style:  inside decimal;
}
	
a,
a:hover,
a:focus{
	outline: 0;
	text-decoration: none !important;}
	
a.link-icon{
	font-size: 12px;}
	
h1, .h1 {
  font-size: 28px;
}

h2{
	font-size: 24px;}
	
h3{
	font-size: 20px;}
	
h4{
	font-size: 18px;}
	
h5{font-size: 16px;}

h6{font-size: 14px;}
	
h4.subject-head{
	color: #fff !important;
	padding: 10px 15px;}
	
.content#class8 h4.subject-head{
	background: #0e76bc;
	}
	
.content#class9 h4.subject-head{
	background: #d51f5e;
	}
	
.content#class10 h4.subject-head{
	background: #008080;
	}
	
.content#classmisc h4.subject-head,
h4.subject-head,
.product-detail .download .btn-demo{
	background: #008080;
	}
	
.content#classxi h4.subject-head{
	background: #77a934;
	}
.media-body-auto {
	width: auto;
}

/** global class **/
.list-head{
	margin-bottom: 10px;}

.list-head span{
	display: inline-block;}

.accordion .panel#class8 .panel-heading,	
.content#class8 .list-head,
.content#class8 .list-head{
	background: #0e76bc;}

.accordion .panel#class9 .panel-heading,	
.content#class9 .list-head{
	background: #d51f5e;}

.accordion .panel#class10 .panel-heading,	
.content#class10 .list-head{
	background: #008080;}

.accordion .panel#classmisc .panel-heading,	
.content#classmisc .list-head,
.list-head{
	background: #008080;}

.accordion .panel#classxi .panel-heading,	
.content#classxi .list-head{
	background: #77a934;}
	
/** global hover **/
.content#class8 .thumbnail:hover{
	background: #0e76bc;}

.content#class9 .thumbnail:hover{
	background: #d51f5e;}
	
.content#class10 .thumbnail:hover{
	background: #008080;}
	
.content#classmisc .thumbnail:hover,
.thumbnail:hover{
	background: #008080;}

.content#clasxi8 .thumbnail:hover{
	background: #77a934;}
	
/** next topic **/
.content#classmisc a.topic,
a.topic,
.content#classmisc .forum table tbody tr td.forum-link a,
.content#classmisc .progress-bar,
.progress-bar{
	background: ##008080;
	}
	
.content#class8 a.topic,
.content#class8 .forum table tbody tr td.forum-link a,
.content#class8 .progress-bar{
	background: #0e76bc;
	}
	
.content#class9 a.topic,
.content#class9 .forum table tbody tr td.forum-link a,
.content#class9 .progress-bar{
	background: #d51f5e;
	}
	
.content#class10 a.topic,
.content#class10 .forum table tbody tr td.forum-link a,
.content#class10 .progress-bar{
	background: #fd881c;
	}
	
.content#classxi a.topic,
.content#classxi .forum table tbody tr td.forum-link a,
.content#classxi .progress-bar{
	background: #77a934;
	}	

	
/** side list **/
.side-list ul li a span{
	font-size: 18px;
	margin-right: 5px;}

.content#class8 .side-list ul li a:hover,
.content#class8 .side-list ul li a span{
	color: #0e76bc;}
	
.content#class9 .side-list ul li a:hover,
.content#class9 .side-list ul li a span{
	color: #d51f5e;}
	
.content#class10 .side-list ul li a:hover,
.content#class10 .side-list ul li a span{
	color: #008080;}
	
.content#classmisc .side-list ul li a:hover,
.content#classmisc .side-list ul li a span,
.side-list ul li a span{
	color: #008080;}
	
.content#classxi .side-list ul li a:hover,
.content#classxi .side-list ul li a span{
	color: #77a934;}

/** content-text **/
.content#class8 h1,
.content#class8 h2,
.content#class8 h3,
.content#class8 h4,
.content#class8 h5,
.content#class8 h6,
.content#class8 .quest h4 span,
.content#class8 .forum table tbody tr td h5 a{
	color: #0e76bc;}
	
.content#class9 h1,
.content#class9 h2,
.content#class9 h3,
.content#class9 h4,
.content#class9 h5,
.content#class9 h6,
.content#class9 .quest h4 span,
.content#class9 .forum table tbody tr td h5 a{
	color: #d51f5e;}
	
.content#class10 h1,
.content#class10 h2,
.content#class10 h3,
.content#class10 h4,
.content#class10 h5,
.content#class10 h6,
.content#class10 .quest h4 span,
.content#class10 .forum table tbody tr td h5 a{
	color: #008080;}
	
.content#classmisc h1,
.content#classmisc h2,
.content#classmisc h3,
.content#classmisc h4,
.content#classmisc h5,
.content#classmisc h6,
.content#classmisc .quest h4 span,
.content#classmisc .forum table tbody tr td h5 a{
	color: #008080;}
	
.content#classxi h1,
.content#classxi h2,
.content#classxi h3,
.content#classxi h4,
.content#classxi h5,
.content#classxi h6,
.content#classxi .quest h4 span,
.content#classxi .forum table tbody tr td h5 a{
	color: #77a934;}
	
/** sidebar **/
.content#class8 .topic-link a,	
.content#class8 .demo{
	background: #0e76bc;
	}
	
.content#class9 .topic-link a,
.content#class9 .demo{
	background: #d51f5e;
	}

.content#class10 .topic-link a,	
.content#class10 .demo{
	background: #008080;
	}

.content#classmisc .topic-link a,	
.content#classmisc .demo{
	background: #008080;
	}

.content#classxi .topic-link a,	
.content#classxi .demo{
	background: #77a934;
	}
	
.content#class8 .demo .download .btn-demo{
	border: 1px solid #3099e0;
	}
	
.content#class9 .demo .download .btn-demo{
	border: 1px solid #fa4885;
	}
	
.content#class10 .demo .download .btn-demo{
	border: 1px solid #ffc34a;
	}
	
.content#classmisc .demo .download .btn-demo{
	border: 1px solid #bb41bb;
	}
	
.content#classxi .demo .download .btn-demo{
	border: 1px solid #8cc244;
	}
	
/** sub-link test **/
.content#class8 .sub-link.test{
	background: #0e76bc;
	}
	
/**.content#class9 .sub-link.test{
	background: #d51f5e;
	}
	
.content#class10 .sub-link.test{
	background: #008080;
	}
	
.content#classmisc .sub-link.test{
	background: #008080;
	}
	
.content#classxi .sub-link.test{
	background: #77a934;
	}**/
	
/** tab **/
.content#class8 .nav-tabs > li.active > a, 
.content#class8 .nav-tabs > li.active > a:hover, 
.content#class8 .nav-tabs > li.active > a:focus,
.content#class8 .nav > li > a:hover, 
.content#class8 .nav > li > a:focus  {
  background: #0e76bc;
}

.content#class9 .nav-tabs > li.active > a, 
.content#class9 .nav-tabs > li.active > a:hover, 
.content#class9 .nav-tabs > li.active > a:focus,
.content#class9 .nav > li > a:hover, 
.content#class9 .nav > li > a:focus {
  background: #d51f5e;
}

.content#class10 .nav-tabs > li.active > a, 
.content#class10 .nav-tabs > li.active > a:hover, 
.content#class10 .nav-tabs > li.active > a:focus,
.content#class10 .nav > li > a:hover, 
.content#class10 .nav > li > a:focus {
  background: #008080;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus,
.content#classmisc .nav-tabs > li.active > a, 
.content#classmisc .nav-tabs > li.active > a:hover, 
.content#classmisc .nav-tabs > li.active > a:focus,
.content#classmisc .nav > li > a:hover, 
.content#classmisc .nav > li > a:focus {
  background: #008080;
}

.content#classxi .nav-tabs > li.active > a, 
.content#classxi .nav-tabs > li.active > a:hover, 
.content#classxi .nav-tabs > li.active > a:focus,
.content#classxi .nav > li > a:hover, 
.content#classxi .nav > li > a:focus {
  background: #77a934;
}
	
.content#class8 thead{
	background: #0e76bc;}
	
.content#class9 thead{
	background: #d51f5e;}
	
.content#class10 thead{
	background: #008080;}
	
.content#classmisc thead{
	background: #008080;}
	
.content#classxi thead{
	background: #77a934;}
	
.content#class8 .nav-tabs {
  border-bottom: 1px solid #0e76bc;
}

.content#class9 .nav-tabs {
  border-bottom: 1px solid #d51f5e;
}

.content#class10 .nav-tabs {
  border-bottom: 1px solid #008080;
}

.content#classmisc .nav-tabs {
  border-bottom: 1px solid #008080;
}

.content#classxi .nav-tabs {
  border-bottom: 1px solid #77a934;
}

	

/** top head **/
.dropdown-menu > li > a {
  white-space: normal;
}

.dash-menu .dropdown-menu{
	right: 0;
	left: inherit;}
	
.dash-menu .news-list{
	padding: 0;}
	
.news-list .dropdown-menu {
 /* left: -290px;*/
 right: 0;
}

.dash-menu .dropdown-menu li{
	display: block !important;}
	
	
.dash-menu .dropdown-menu > li > a{
	padding: 5px !important;
	}
	
.news-list .dropdown-menu > li:hover > a{
	background: none;}

.dash-menu .dropdown-menu > li:hover > a{
	color: #333 !important;}

.dashboard_list .dropdown-menu > li:hover > a{
	background: red;}

.top-head{
	background: #008080;
	padding: 10px 0;}
	
.top-head .lft-nav ul li,
.top-head .rgt-nav ul li{
	display: inline-block;}
	
.top-head .lft-nav ul li a,
.top-head .rgt-nav ul li a{
	color: #fff;
	padding: 0 5px;
	font-size: 13px;
	display: block;}

	
.top-head .rgt-nav ul li a{
	color: #008080;
	padding: 0 5px;
	font-size: 13px;
	display: block;}
	
.top-head .lft-nav ul li a span,
.top-head .rgt-nav ul li a span{
	margin-right: 3px;}
	
/** search **/
.searchbar .dropdown-menu {
  background: #008080 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  left: auto;
  right: 0;
}

.dropdown-menu {
	background-color: #eee;
	min-width: 259px;
	padding: 10px;
	}
	
.dropdown-menu > li > a {
  color: #333 !important;
}
	
.dropdown-menu .drop-search{
	margin-bottom: 0;}
	
.drop-search{
	position:relative;
	}
	
.drop-search .btn{
	position:absolute;
	right: 0;
	top: 0;
	border-radius: 0;
	height: 34px;
	padding: 0 15px;
	display: block;
	background-clocr: transparent;
	}
	
.drop-search span{
	color: #fff;}	
	

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: transparent;
  border: 0;
  color: #fff;
  padding: 0 15px 0 0;
}

.btn p{
	margin-bottom: 0;
	font-size: 13px;}

.btn-search{
	background: #008080 none repeat scroll 0 0;
	height: 34px;
	padding: 0 15px;
	color: #fff;
	}
	
.drop-search .form-control{
	border-radius: 0;}
	
.rgt-nav ul{
	float: right;}

/** register **/
.modal-body{
	color: #333;}
	
.modal-header {
	background: #eee none repeat scroll 0 0;
	border-bottom: 2px solid #b2b2b2;
	padding: 15px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 20px;
	}
	
.modal-footer {
  text-align: left;
}
	
.fb-login{
	line-height: 3px;
	margin-bottom: 30px;}
	
.kul-login{
	margin-bottom: 30px;}
	
.modal-footer{
	background: #008080;
	color: #fff;}
	
.pass-text ul li{
	display: inline-block;
	border-right: 1px solid #fff;
	line-height: 10px;}
	
.pass-text ul li:last-child{
	border-right: 0;}
	
.pass-text ul li a{
	color: #fff;
	transition: all 0.5s ease;}
	
.pass-text ul li a:hover{
	color: #e720e7;}
	
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}
	
.btn-log {
  background: #005c5c none repeat scroll 0 0;
  border-bottom: 2px solid #005454;
  border-radius: 0;
  color: #fff;
  transition: all 0.5s ease 0s;
}
	
.btn-log:hover{
	background: #005c5c;
	border-bottom: 2px solid #005454;}

.register .modal-dialog {
  width: 451px;
}	

.input-group-addon,
.form-control {
	border-radius: 0;
	}
/** header **/
header{
	background: #fff;
	padding: 30px 0;}
	
.navbar{
	margin-bottom: 0;
	padding-top: 10px;}
	
.navbar-brand{
	padding: 5px;}
	
.navbar-brand > img {
  width: 180px;
}
	
.navbar-toggle {
  background-color: #008080;
  border-radius: 0;
}

.navbar-toggle .icon-bar {
  background: #fff none repeat scroll 0 0;
}

	
/** slider **/
.slider{
	background: #000;}
	
.carousel-caption{
	top: 29%;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.6);}
	
.carousel-caption h3{
	font-size: 50px;
	line-height: 40px;
	font-weight: 300;
	color: #008080;}
	
.carousel-caption p{
	font-size: 18px;
	line-height: 40px;
	margin-bottom: 50px;}
	
.carousel-caption a{
	background: #008080;
	font-size: 18px;
	color: #fff;
	padding: 15px 25px;
	}
	
.carousel-caption p i{
	text-transform: uppercase;
	color: #008080;
	font-style: normal;}
	
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
  opacity: 0.3;
  width: 100%;
}

.inner-slider .carousel-inner > .item > img, 
.inner-slider .carousel-inner > .item > a > img {
  opacity: 1;
}

/** learn more **/
.learn {
  border: 1px solid #ccc;
}
	
.learn-more{
	background: #008080;
	color: #fff;
	padding: 30px 0;
	position: relative;
	}
	
.learn-more:after {
	border-bottom: 75px solid transparent;
	border-left: 75px solid #008080;
	border-top: 76px solid transparent;
	content: '';
	position: absolute;
	right: -74px;
	top: 0;
	}
	
.learn-more::before {
  background: #008080 none repeat scroll 0 0;
  content: "";
  height: 151px;
  left: -179px;
  position: absolute;
  top: 0;
  width: 179px;
}
	
.learn-more h3{
	font-size: 28px;
	color: #fff;
	}
	
.learn-more p{
	margin-bottom: 0;}
	
.search-learn{
	padding-left: 90px;
	padding-top: 60px;}
	
.search-learn p a{
	text-transform: uppercase;
	color: #008080;}
	
.drop-search{
	margin-bottom: 10px;
	margin-left: -14px;
    }
	
.search-learn .form-control{
	height: 41px;}
	
.search-learn .btn{
	height: 40px;
	line-height: 40px;
	}
	
/** class **/
.grade{
	padding: 90px 0;}
	
	
.mob-grade .accordion .panel-heading h4{
	color: #fff;
	font-size: 18px;}
	
.grade-block{
	position:relative;}
	
.grade-block h2{
	color: #0e76bc;
	padding: 20px 0 0 50px;}
	
.grade-8 h2{
	color: #0e76bc;}
	
	
.grade-9 h2{
	color: #d51f5e;}
	
.grade-10 h2{
	color: #abcd3c;}
	
.grade-misc h2{
	color: #008080;}
	
.grade-block ul {
	padding-left: 35px !important;}
	
.grade-block ul li{
	list-style:disc;
	}
	
.grade-block ul li{
	color: #333;
	line-height: 30px;
	 margin-left: 0px;
  -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
      }
	
.grade-block ul li:hover{
	color: #0e76bc;
	 margin-left: -10px;
	font-weight: bold;	 
}
	
.grade-tag{
	position: absolute;
	top: -18px;
	left: -30px;}
	
.grade-tag .circle{
	height: 63px;
	width: 63px;
	border-radius: 50%;
	border:3px solid #fff;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	
	color: #fff;
	display: inline-block;}
	
.grade-tag span.fa .fa-book{
	color: #fff;}
	
.grade-tag span.circle{
	position: relative;}
	
.grade-tag span.circle:before{
	content: '';
	height: 1px ;
	width: 98px;
	position: absolute;
	top: 15px;
	left: 60px;}	
	
.grade-tag span.circle:after{
	content: '';
	height: 98px ;
	width: 1px;
	position: absolute;
	top: 62px;
	left: 25px;}
	
.grade-8 .grade-tag span:before,
.grade-8 .grade-tag span:after,
.grade-8 .grade-tag span{
	background: #0e76bc;}
	
.grade-9 .grade-tag span:before,
.grade-9 .grade-tag span:after,
.grade-9 .grade-tag span{
	background: #d51f5e;}
	
.grade-10 .grade-tag span:before,
.grade-10 .grade-tag span:after,
.grade-10 .grade-tag span{
	background: #abcd3c;}
	
.grade-misc .grade-tag span:before,
.grade-misc .grade-tag span:after,
.grade-misc .grade-tag span{
	background: #008080;}

.grade-xi .grade-tag span:before,
.grade-xi .grade-tag span:after,
.grade-xi .grade-tag span{
	background: #87bc40;}	
	
.grade-xii .grade-tag span:before,
.grade-xii .grade-tag span:after,
.grade-xii .grade-tag span{
	background: #14adc4;}

	
.flex {
  position: relative;
  background: #000;
}

.flex img{
	opacity: 0.3;}
	
.flexslider{
	margin-bottom: 0;
	}
	
.default-text{
	text-align:center;
	color: #fff;
	padding: 0 210px;
	top: 30px;
	left: 0;
	position: absolute;
	width: 100%;}
	
.default-text span{
	font-size: 60px;
	line-height: 115px;
	color: rgba(255,255,255,0.7);}
	
.default-text p{
	margin-bottom: 30px;
	font-size: 20px;
	}
	
.default-text h6{
	line-height: 15px;
	margin-bottom: 0;
	color: #008080;
	font-size: 16px;}
	
.default-text em{
	font-style: normal;
	font-size: 13px;}
	
/** number block **/
.number{
	padding: 50px 0;}

.number-block{
	text-align: center;
	line-height: 30px;
	}
	
.number-block h2{
	font-size: 58px;}
	
.number-block p{
	text-transform: uppercase;
	margin-bottom: 0;}
	
.number-block a{
	color: #333;}
	
/** about us page **/
.headline{
	background: url(../images/heading.jpg) no-repeat left top;
	padding: 35px 0;}
	
.head-title h1{
	left: 0;
	width: 100%;
	color: #fff;}
	
/** breadcrump **/
.breadcrump{
	padding: 15px 0;
	}

.breadcrump a {
    border-right: 1px solid #ccc;
    color: #008080;
    margin-right: 10px;
    padding: 0 10px 0 0;
}
	
.breadcrump a:hover{color: #000;}

.content{
	padding: 20px 0 40px 0;}
	
.main-content{
	margin-bottom: 20px;}
	
.content-text{
	margin-bottom: 20px;}
	
.content h4{
	text-transform: uppercase;
	color: #008080;}
	
	
ul.list li{
	list-style: decimal inside;}
	
.content-text ul li i{
	font-style: normal;
	color: #008080;
	}
	
.main-content ul.cat-list li{
	line-height: 40px;
	text-transform: uppercase;}
	
.content-text ul.cat-list{
	padding-left: 0;}
	

	
.list-head h5{
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 22px;
	display: block;
	padding: 10px 0;
	}
	
.list-head{
	position: relative;
	padding: 0 55px;	
}
	
.list-head span{
	font-size: 20px;
	background: rgba(0,0,0,0.1);
	padding: 8px 15px;
	margin-right: 10px;
	position: absolute;	
	height: 100%;
	top: 0;
	left: 0;}
	
.list-head h5,
.list-head span{
	color: #fff !important;}
	
.side-list{
	 margin-bottom: 30px;}
	 
.side-list .panel-default{
	border: 0;}
	 
.side-list .panel-body{
	padding:0;}
	
.side-list ul li a{
	color: #333;
	padding: 10px 10px 10px 40px;
	display: block;
	position: relative;}
	
.panel{
	box-shadow: none;}
	
.side-list .panel .panel-body ul li a span{
	position: absolute;
	top: 15px;
	left: 10px;}
	
.side-list .panel .panel-body ul li a:hover{
	background: #eee;
	}
	
/** accordion **/
.accordion{
	margin-bottom: 30px;
	}
h4.panel-title a{
	text-transform: none;
	color: #333;
	font-size: 14px;
	/*display: block;*/}
	
.mob-grade h4.panel-title a{
	color:#fff;
	font-size: 18px;}
	
.panel-default > .panel-heading {
  background-color: #eee;
  border-radius: 0;
}

.thumbnail {
  background: #eee;
  transition: all 0.5s ease;
  border-radius: 0;
}

.thumbnail .caption {
	text-align: center;
	height: 54px;
	padding: 5px;
	font-size: 13px;
	}

.thumbnail .caption a{
	color: #333;
	display: block;}
	
.thumbnail .caption p{
	margin-bottom: 0;}
	
.thumbnail#class8:hover{
	background: #0e76bc;}
	
.thumbnail:hover .caption a{
	color: #fff;}
	
.panel-title ul{
	float: right;}
	
.panel-title ul,
.panel-body ul{
	padding-left: 0;}
	
ul.panel-tab li{
	display: inline-block;}
	
.panel-body ul.panel-tab li a {
  font-size: 13px;
  margin: 0 2px;
}
	
ul.panel-tab li a{
	color: #333;
	padding: 0 5px;}
	
.unicode ul li{
	margin-bottom: 10px;}
	
/** tab **/
.nav-tabs > li.active span.badge,
.nav-tabs > li:hover span.badge,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  border: 0px;
  color: #fff;
}

.nav-tabs > li > a {
  border-radius: 0;
  color: #333;
}

.nav-tabs {
  border-bottom: 1px solid #008080;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #008080;
  color: #fff;
}
.tab-pane{
	padding: 10PX 0;}
	
/** table **/


thead{
	background: #008080;}
	
th{
	color: #fff;}
	
/** side bar **/

.demo{
	padding: 10px;
	}
	
.demo .demo-text{
	margin-bottom: 10px;
	color: #fff;}
	
.demo .demo-text p{
	margin-bottom: 0;}
	
.demo .demo-text h5{
	text-transform: uppercase;
	background: rgba(0,0,0,0.1);
	font-size: 14px;
	line-height: 20px;
	padding: 5px 10px;
	color: #fff !important;}
	
.demo .demo-text a{
	color: #fff;}
	
.download .btn-demo{
	background: none;
	border-radius: 0;
	color: #fff;}
	
.demo .download .modal-footer {
	text-align: left;}
	
.features{
	margin-bottom: 10px;
	}
	
.product-detail .features {
	text-align: left;}
	
.features ul li i{
	font-style: normal;
	color:#631d63;
	font-weight: bold;} 
	
/** notes **/
.sub-link span.fa-fw {
  width: 2.286em;
}

.side-note{
	padding-top: 10px;}

.note-block{
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
	}

.note-block img{
	max-width: 200px;}
	
.tab-img img{
	max-height: 215px;
	display: inline-block;}
	
.tab-img{
	margin-bottom: 20px;}
	
.tab .nav > li > a,
.tab .nav > li.active > a {
	border: 0;
	padding: 5px 15px;
}

.media-body h4{
	text-transform: none;}
	
.media-body .breadcrump{
	font-size: 11px;
	margin-top: 0}
	
.media-body .breadcrump a {
  margin-right: 5px;
  padding: 0 5px 0 0;
}

.topic-link p span{
	margin-right: 5px;}
	
.topic-link a{
	line-height: 18px;}
	
.topic-link{
	margin-bottom: 10px;}

.topic-link a{
	padding: 5px 10px;
	color: #fff;
	background: #008080;}
	
.links ul li{
	display: inline-block;
	margin: 0 5px 10px 0;}
	
.links ul li a{
	color: #333;}

.dash-user .links ul li{
	margin: 0 15px 10px 0;}
	
.dash-user .links ul li a:hover{
	color:#008080;}
	
.links .sub-link,
.media-body .sub-link{
	color: #fff;
	display: inline-block;
	padding: 0 5px 0 0;
	font-size: 13px;
	line-height: 25px;}
	
.links .sub-link span,
.media-body .sub-link span{
	background: rgba(0,0,0,0.1);
	padding: 5px 10px;
	transition: all 0.5s ease;
	font-size: 14px;
	color: #fff;
	}
	
	
.links .sub-link:hover span{
	background: rgba(0,0,0,0.2);
	}
	
.side-bar .links ul li{
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
}

.side-bar .links .sub-link{
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 32px;
}

.side-bar .links .sub-link span{
	padding: 8px 15px;
	font-size: 20px;
	margin-right: 10px;
	}
	
.side-bar .note-block img {
  max-width: 110px;
}
	
.sub-link.exercise{
	background: #fd881c;
	}
	
.sub-link.video{
	background: #87bc40;
	}

.sub-link.test{
	background: #0e76bc;
	}

.sub-link.book{
	background: #d51f5e;
	}
	
a.topic{
	line-height: 30px;
	color: #fff;
	padding: 0px 0 0px 10px;
	font-size: 13px;
	margin-bottom: 30px;
	display: inline-block;}
	
a.topic span{
	background: rgba(0,0,0,0.1);
	padding: 5px 10px;}
	
a.topic:hover span{
	background: rgba(0,0,0,0.2);
	}
	
.quest{
	margin-bottom: 40px;}
	
.quest h4{
	text-transform: none;
	color: #333 !important;}
	
.quest h4 span{
	text-transform: uppercase;
	}
	
.quest textarea{
	margin-bottom: 20px;}
	
/** forum **/
.forum .media{
	margin-bottom: 20px;}
	
.forum .media .media-left img{
	max-width: 40px;}
	
/*.forum .media .media-body .user-name a{
	float: right;}*/

.forum .media.user-quest{
	padding: 10px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);}
	
.forum .media .media-body h6{
	text-transform: uppercase;
	}
	
.forum .media .media-body .user-name h6{
	float: left;}
	
.forum .media .media-body h6 small{
	text-transform: none;
	}
	
.comment p{
	margin-bottom: 0;}
	
th {
  font-weight: normal;
}

.forum table tbody tr{
	font-size: 13px;}

.forum table tbody tr td h5{
	text-transform: uppercase;
	font-size: 13px;
	}
	
.forum table tbody tr td .breadcrump{
	margin-top: 0;
	font-size: 12px;
	}
	
.forum table tbody tr td.forum-link a{
	background: #008080;
	padding: 3px 10px;
	color: #fff;
	}
	
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
  line-height: 20px;
}
	
a.warn,
a.star{
	color: #008080 ;
	}
	
a.down{
	color: #008080;}
	
.extra-link ul{
	float: right;}
	
.extra-link ul li{
	display: inline-block;}
	
.extra-link ul li a{
	padding: 0 5px;
	color: #333;
	height: 20px;
	width:20px;
	border: 1px solid #aaa;
	font-size: 13px;}

.member-img{
	margin-bottom: 20px;
	position: relative;}
	
.member-img img{
	width: 100%;}
	
.img-detail{
	position: absolute;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	text-align: center;
	color: #fff;
	left: 0;
	bottom: 0;
	width: 100%;}
	
.img-detail p{
	margin-bottom: 0;}
	
.rgt-tab{
	background: #eee;
	}
	
.badge,
.list-head span.badge {
  background-color: rgba(0, 0, 0, 0.2);
  color: #333;
  font-weight: normal;
  font-size: 10px;}

.list-head span.badge{
	float: none;
	padding: 3px 7px;
	}

.tabs-left>li.active>a .badge {
  color: #fff;
}

/** product **/
.product{
	margin-bottom: 30px;}

.product-block{
	margin-bottom: 20px;
	text-align: center;} 

.product-block .product-img img{
	width: 185px;
	}
	
.product-block .product-img{
	margin-bottom: 10px;
	}
	
.product-detail h4{
	margin-bottom: 5px;}
	
.product-detail .download .model-body .features{
	text-align: left;}
	
/** waypoint style **/
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
	visibility: visible
	}
.delay-05s {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	}
.delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	}
.delay-15s {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	}
.delay-2s {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	}
	
/** dashboard **/
.dash-user{
	background: #f1f1f1;
	padding: 10px;
	margin-bottom: 20px;}

.dash-block span {
  background: #eee;
  border-radius: 50%;
  color: #008080;
  display: inline-block;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 15px;
  text-align: center;
  transition: all 0.5s ease 0s;
  width: 48px;
  color: #333;
}

.dash-block .circle{
	float: left;
	margin-right: 10px;
	position: static;}
	
.dash-detail h5{
	margin-bottom: 0;
	text-transform: none;}
	
.dash-detail p{
	line-height: 20px;}

.dashboard .dash-block{
	margin-bottom: 20px;}

.dashboard .dash-block:hover span{
	background:#008080;
	color: #fff;
	/**transform: scale(0.3); **/}
	
.user-dash{
	background: #eee;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	margin: 0 auto;
}
	
	
.user-img img{
	width: 100%;}
	
.user-img h5{
	text-transform: uppercase;}
	
.user-dash .user-detail ul li a{
	color: #333;
	text-transform: uppercase;
	font-size: 13px;} 
	
.user-dash .user-detail ul li a:hover{
	color: #008080;}
	
.user-dash .user-detail ul li{
	padding: 5px;}
	
/** notification **/
.notification{
	position: relative;}

.notification img{
	width: 25px;
	height: 25px;
	border-radius: 50%;}
	
.notification .tag{
	position: absolute;
	top: -4px;
	right: -4px;
	background: #008080;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	line-height: 15px;
	text-align: center;}
	
.sponsore{
	background:#eee;
	padding: 10px 5px;}
	
.sponsore-block{
	margin-bottom: 20px;}
	
.sponsore-block img{
	width: 100%;}
	
.sponsore-block p,
.sponsore-block a{
	font-size: 12px;
	line-height: 20px;}
	
.sponsore h6{
	color: #333;
	border-bottom: 1px solid #fff;
	text-transform:uppercase;
	padding-bottom: 5px;}
	
/** user profile **/
.back-cover{
	background: url(../images/cover-img.jpg) no-repeat left top;
	position: relative;
	min-height: 180px;
	background-size: cover;
	position: relative;}


.back-cover .user-name{
	position: absolute;
	left: 145px;
	bottom: 5px;
	}
	
.side-bar .back-cover .user-name {
  left: 50%;
  margin-left: -25%;
}

.side-bar .user-profile .back-cover .user-img {
  left: 50%;
  margin-left: -20%;
  top: 20px;
}
	
.back-cover .user-name h5{
	color: #fff;
	text-transform: uppercase;}
	
.user-profile{
	margin-bottom: 30px;}
	
.user-profile .user-detail ul{
	margin-left: 135px;}
	
.update{
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 20px;}
	
.user-detail{
	background: #eee;
	padding: 20px 0;}
	
.edu-news .user-detail{
	padding: 5px 0;}
	
.user-detail ul li{
	display: inline-block;
	border-right: 1px solid #fff;
	line-height: 15px;
	}
	
.user-detail ul li:last-child{
	border: 0;}
	
.user-detail ul li a{
	color: #333;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0 10px;
	}
	
.user-profile .user-detail ul li a{
	color: #fff;
	}
	
.user-profile .back-cover .user-img{
	position: absolute;
	left: 20px;
	top: 115px;
	}
	
.user-profile .user-detail{
	background: #008080;
	}
	
.upload-file{
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 50% 50%;
    bottom: -50%;
    height: 50%;
    left: 0;
	position: absolute;
	text-align: center;
    transition: all 0.6s ease 0s;
    width: 100%;
    z-index: 2;
	}
	
.user-img:hover .upload-file{
	bottom: 0;}
	
.custom-file-input {
  cursor: pointer;
  height: 25px;
}
	
.browser {
  background: url(../images/camera.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 32px;
  overflow: hidden;
  width: 32px;
  margin-left: 35px;
}

.browser input {
  opacity: 0;
}
	
.upload-file button, 
.upload-file input{
  color: #fff;
  font-size: 13px;
}

.upload-file .form-group{
	margin-bottom: 0;}
	
.dl-horizontal dt {
  text-align: left;
  width: 175px;
  margin-bottom: 5px;
}

.dl-horizontal dd {
  margin-left: 175px;
}
	
	
/** footer **/
footer{
	background: #008080;
	padding: 30px 0;}
	
footer h3{
	color: #eee;
	}
	
.footer-nav ul li a,
.footer-cnt p{
	color: #c6c6c6;
	margin-left: 0px;
 -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
          }

	.footer-nav ul li a:hover
	{
		color:#ff9900;
		font-weight: bold;
		margin-left: -10px;
	}
	
.footer-cnt p{
	line-height: 15px;}
	
.footer-top{
	margin-bottom: 15px;}
	
.footer-bottom p{
	text-align: center;
	font-size: 13px;
	color: #c6c6c6;
	}
	
/*****************8 vertical Tab **************/
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 0;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
  border-bottom: 1px solid #fff;
}
.tabs-right>li {
  margin-left: -1px;
  border-bottom: 1px solid #eee;
}

.tabs-right > li.active >a, 
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
  background: none repeat scroll 0 0 #008080;
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

.panel-default{
	position: relative;}
	
.panel-footer ul li a span{
	color: #fff !important;
	font-size: 12px;}

.news-list{
	padding: 0 10px;}

.news-item,
.news-list ul li{
    padding:10px 5px;
    margin:0px;
	font-size: 13px;
	border-bottom: 1px solid #ddd;
	line-height: 20px;
}

.panel-footer .pagination > li > a, 
.panel-footer .pagination > li > span {
  background-color: transparent;
  border: 0;
  color: #fff;
  float: left;
  padding: 5px 3px;
}

.news-item:hover,
.news-list ul li:hover{
	background: #fff;}


.panel-footer {
  padding: 0px 0px;
  position: absolute;
  right: 0;
  top: 5px;
  background-color: transparent;
  border-top: 0px;
}


.panel-footer .pagination a{
    color:#555;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #fff;
	background-color: transparent;
 	}
	
/** pagination **/
  
 .page-counter{
	 text-align: center;}
  
  
.page-counter .pagination > li > a{
	font-size: 12px;}
  
 .page-counter .pagination > li > a, 
 .page-counter .pagination > li > span {
  border-radius: 4px;
  color: #333;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  padding: 0;
  margin: 0 5px;
  background: #ddd;
  border: 0;
  border-bottom: 2px solid #ccc;
}

.page-counter .pagination > .active > a, 
.page-counter .pagination > .active > span, 
.page-counter .pagination > .active > a:hover, 
.page-counter .pagination > .active > span:hover, 
.page-counter .pagination > .active > a:focus, 
.page-counter .pagination > .active > span:focus {
  background-color: #008080;
  color: #fff;
  cursor: default;
  z-index: 2;
  border-bottom: 2px solid #7b207b;
}

/** news **/
.edu-news{
	margin-bottom: 20px;
	}
	
/** invite group **/
.group{
	border: 1px solid #ccc;
	margin-bottom: 20px;}

.content-text ul li.list-group-item{
	border: 0;}
	
.discussions{
	max-height: 200px;
	overflow-y: scroll;
	padding: 10px;}
	
.message .media-object{
	height: 32px;}
	
.message{
	margin-bottom: 5px;}
	
.edu-news .message{
	border-bottom: 1px solid #ddd;
	padding: 5px;}
	
.edu-news .message:hover{
	background: #eee;}
	
.message .media-body h4{
	font-size: 13px;
	margin-bottom: 5px;}
	
.message .media-body p{
	margin-bottom: 0;
	font-size: 13px;
	line-height: 15px;}
		
/** private message **/
.conversation{
	margin-bottom: 20px;}

.conversation-block{
	position: relative;
	padding: 15px;
	margin-bottom: 20px;
	}

.user-img{
	overflow: hidden;
	border: 5px solid #ccc;
	border-radius: 50%;
	height: 110px;
	overflow: hidden;
	width: 110px;
}
	
.conversation-block .user-img{
	position: absolute;
	left: 0;
	bottom: -15px;
	border: 5px solid #ccc;
	height: 90px;
	width: 90px;
	}
	
.conversation-block blockquote {
  border: 0 none;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
  padding-left: 100px;
  border: 1px solid #008080;
  margin-right: 100px;
}

.conversation-block.reverse blockquote {
  padding-right: 100px;
  text-align: right;
  margin-left: 100px;
  margin-right: 0;
  padding-left: 15px;
  border: 1px solid #777;
}

.conversation-block.reverse .user-img {
  left: auto;
  right: 0px !important;
}

blockquote h4{
	background: #eee;
	padding: 10px;
	text-transform: none !important;
	margin-bottom: 0;
	font-size: 14px;}

blockquote h4{
	color: #333 !important;
	}

span.shift{
	float: right;
	font-size: 10px;
	text-transform: none;
	color: #777;
	}

.forum .media .media-body span.shift{
	color: #008080;
}
	
.grp-msg{
	margin-bottom: 30px;}
	
.invite p{
	font-size: 13px;}
	
.invite{
	margin-bottom: 20px;}
	
/** progress bar **/
.progress {
  border-radius: 0px;
}

/** glossary **/
.glossary a{
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #ddd;
	color: #333;
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px; 
	transition: all 0.5s ease;
	margin: 0 4px 5px 0;
	}
	
.side-bar .glossary a{
	border-radius: 4px;
	border-bottom: 3px solid #ccc;}
	
.glossary a:hover,
.glossary a.active{
	background: #008080;
	color: #fff;
	border-bottom: 3px solid #7b207b;}
	
.glossary-block .list-group-item:hover{
	background: #eee;}
	
.glossary-block ul li a{
	color: #333;
	display: block;
	}
	
.glossary-block ul li a span{
	background:	#008080;
	height: 25px;
	width: 25px;
	line-height: 25px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	margin-right: 10px;
	display: inline-block; }
	
.glossary-detail{
	background: #eee;
	padding: 20px;}

	span.website_link
{
	color: #ff9900;
}
span.website_link:hover
{
	text-decoration: underline;
}
span.website_name
{
	color: #ff9900;
}

.notification-menu
{
	background-color: #eee;
    min-width: 323px;
    padding: 10px;
    margin-left: -324px;
}

/******* media query start from here*****/

@media only screen and (max-width: 500px){
	.learn-more
	{
		display: none;
	}
	.number
	{
		display:none;

	}
	.flexslider
	{
		display: none;
	}
}

a .click-here
{
	color: #008080;
}

span.next-page
{
	color: #da1e5e;

}

span:hover.next-page 
{
	color: #16909a;
	font-weight: bold;
	
}

.navbar-inverse {
    background-color: #008080;
    border-color: #008080;
}

    /* styling contact-us*********/
    .contact-us p
    {
    	font-weight: bold;
    }

    .content-privacy h4
    {
    	font-weight: bold;
    }
     .content-privacy h3
    {
    	font-weight: bold;
    }
   span.privacy-id
   {
   	color: black;
   }

   .arrow {
    
    border-left: 4px solid #4CAF50 !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}

	 .arrow1 {
    
    border-left: 4px solid #8e2a8e!important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}
 .arrow2 {
    
    border-left: 4px solid #f3dc27 !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}
	.arrow3 {
    
    border-left: 4px solid #44afe3 !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}

.arrow4 {
    
    border-left: 4px solid #d4306b !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}
	.arrow5 {
    
    border-left: 4px solid #1b919b!important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}

.arrow6 {
    
    border-left: 4px solid #8e2a8e !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}
	.arrow7 {
    
    border-left: 4px solid #f3dc27 !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}
	.arrow8 {
    
    border-left: 4px solid #d71f5e !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}
	.arrow9 {
    
    border-left: 4px solid #44afe3 !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}

	.arrow10 {
    
    border-left: 4px solid #4caf50 !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}
	.arrow11 {
    
    border-left: 4px solid #f3dc27 !important;
    line-height: 1.4;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #009688;
    word-wrap: break-word;
	}

	

ul.dropdown-menu li a
{
	padding:10px !important;
}

#search-extended{
	width:500px;
}
@media screen and (max-width: 400px) {
#search-extended{
	width:90%;
}
}

a#nameHref
{
	min-width:250px;
}

.product-detail
{
	text-align: center;
	margin-top: 16px;
}

.panel-list
{

    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

h4.panel-list a {
    text-transform: none;
    color: #333;
    font-size: 14px;
    }
    .panel-list ul li
    {
    	list-style: circle;
    	margin: 0 0 0 2em;
    }

