/*** main css***/
body
{
    background-color: rgba(153, 204, 204, 0.39) !important;
    font-family: Roboto;
}
/*MENU*/

.menu {
  list-style: none;
 /* line-height: 42px;*/
  margin: auto;
  /*outline: 1px solid red;*/
  padding-left: 0;
  width: 15em;
  background-color: #d7ebeb;
  margin-top:-31px;
}

.menu a {
  background: url(../images/wall/icons.png) no-repeat left top;
  color: #fff;
  text-decoration: none;
   display: block;
  padding-left: 1em;
  width: 100%;
}

/*.menu a:hover {
  margin-left: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}*/

.menu li {
  box-shadow: 3px 0 rgba(52,152,219,.2) inset;
  margin-bottom: 5px;
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;/*outline: 1px solid green*/
}

.menu li:hover { box-shadow: 15em 0 rgba(52,152,219,.2)inset; }

.menu li:nth-child(2) a { background-position: 0 -42px; }

.menu li:nth-child(3) a { background-position: 0 -84px; }

.menu li:nth-child(4) a { background-position: 0 -126px; }

.menu li:nth-child(5) a { background-position: 0 -168px; }

.menu li:last-child a { background-position: 0 -210px; }

/*FIN MENU*/
/*Posicion Responsive Menu*/

nav {
 /* background: #5CB7B8;*/
  padding-right: .25em;
  /*position: absolute;*/
  left: -32em;
  top: 0;
  padding-top: 5em;
  box-sizing: border-box;
  z-index: 20;
  height: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}


#mobile-nav {
  background: url(../images/menu-icon.png) no-repeat;
    cursor: pointer;
     left: 1em; 
    height: 48px;
 position: absolute;
    top: 0em;
    width: 100%;
    z-index: 30;
}
nav.active { left: 14px; }


/* menu css*/
p.lead
{
    padding: 15px;
    font-family:Roboto;
    font-size: 14px;
}
#comment_box
    {
    display:inline-block;
    float:left;
    }
    
li#status_message
    {
    padding:0px;
    margin:0px;
    width:100%;
    list-style-type: none;
    }

    li#status_message a {
    color: #009999;
    padding: 16px;
    font-weight: 700;
    font-size: 16px;
    font-family: Roboto;
}
li#status_message a:hover {
    text-decoration:underline !important;
}


    .form-comment
    {
        border-radius:2px;
        height:28px;
        margin-left: 7px;
    }

    #status_first
    {
    display:inline-block;
    float:left;
    padding: 12px;
    }
    #status
    {
        width:94%;
        margin-top: 34px;
    }
    .follow
    {
        border-bottom: 1px solid rgba(178, 178, 178, 0.28);
        border-top: 1px solid rgba(178, 178, 178, 0.28);
        padding: 5px;
    }

    .arrow
    {
        float: right;
        padding: 10px;
    }
/***** style for Navbar*****/

.head-top .left-nav ul li a {
    color: #008080;
    /* padding: 0 5px; */
    font-size: 19px;
    display: block;
}
.head-top
{
       
    background-color:#009999;
    padding: 7px 0;
    
   
}
    


.head-top .right-nav ul li
{
    display: inline-block;

}   
.head-top .right-nav ul li a
{
     
    font-family:Roboto;
    padding: 0 5px;
    font-size: 13px;
    display: block;
}

.right-nav ul
{
    float: right;
}

a.users-id
{
    color: #fff;
}
.notification .tag p {
    font-size: 9px;
}
.wall-notification span
{
    color:#fff;
   /* margin-left: 185px; 
     margin-right: -39px;
     margin-top: 25px;*/ 
    font-size: 17px;
     
}
.wall-notification {
    position: relative;
}
.wall-notification .tag {
    position: absolute;
    top: -4px;
    right: -4px;
    background: #ff0000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
}
.wall-notification .tag p {
    font-size: 9px;
}
/***** end style for Navbar*****/
.badge_notifi
{
    background-color: red;
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    border-radius: 113%;
}
#shortcut_page
{
    padding: 20px;
}
.notification_page
{

}
/*.notification_page .message
{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px;
}*/

.notification_page h1
{
    font-size: 19px;
    text-align: center;
    color: #fff;
    margin-top: 4px !important;
    font-family: Roboto;
    font-weight: bold;
}
.panel-sidebar
{
    /*background-color: #DEDCE7;*/
    
}

.text .user_img
{
    height: 16px;
    width: 16px;
}

.text #user_name
{
    color: #009999;
    font-size: 17px;
    font-family: Roboto;
    font-weight:bold;

}
.text a#user_name:hover
{
    text-decoration: underline;
    color: #003322;

}
.panel-sidebar ul li:hover
{
    background-color:rgba(119, 119, 119, 0.53);
    

}
.navhead_2nd
{
    margin-bottom: 12px;
}

 h4.navHeader
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
 h4.navHeader:hover
{
    text-decoration: underline;
}

#user_sidebar
{
    /*border-bottom: 1px solid #ddd;*/
    margin-bottom:12px;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
  opacity: 0%;
  width: 100%;
}

 h3.navHeader_2nd
{
    color:#008080;
    font-size: 16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    
}
h3.navHeader_2nd:hover
{
    text-decoration: underline;
    
}
a.navHeader_2nd:hover
{
    text-decoration: underline;
    
}
.panel-top
{
    padding: 2px;
}

.feed-content
{
 /*margin-top: -13px;*/
}

#notifi-opinion
    {
    display:inline-block;
    float:left;
    }
    
li#notifi-message
    {
    padding:0px;
    margin:0px;
    width:100%;
    list-style-type: none;
    }
    
#notifi-para
    {
    font-size:12px;
    line-height:1px;
    }

    .panel-img img
    {
      width:80%;
    }
    h4.media-heading_2nd
{
    font-size: 12px;
    color:#000;
    font-weight: bold;
}
h4.media-heading_2nd:hover
{
    text-decoration: underline;
}
.icon_setting
{
    float:right;
    font-size: 20px;
}
.btn-report
{

  background-color: #008080;
 padding: 5px;
}
.btn-report:hover
{

  background-color: #008080;
  opacity: 0.8;
 
}
a.btn-report
{
  color:#fff;
  text-align: center;
}


    
    #news
    {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*width: 58px;*/
    }
    
    .panel-thumbnail img
    {
    width: 90%;
    height: 240px;
     margin-left: 32px;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
   
   
    #note_page101
    {
        text-align: center;
        width:308px;
        font-size: 15px;
        font-weight: bold;
    }
    .panel-feed 
    {
    background-color: #009899;
    border-radius: 1%;
    height: 30px;
    }

       .navdiv
    {
      margin-top: -39px;
    }
    
    .wall-content {
    margin-top: 66px;
}

   .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}



.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
p.notes_upload
{
    padding: 28px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}

#user_upload_notes
{

    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /*width: 322px;*/
}
#user_sponsered{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
   /* width: 99px;*/
}
.sponser_link
{
    color:#008080;
    font-weight: bold;
    margin:14px 2px;
}
span.sponser_link:hover
{
    text-decoration: underline;
}
.btn-like-button
{
    border-color: #cccccc #c5c6c8 #b6b7b9;
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
   /* float: right;
    margin-top: -38px;*/
}
.btn-like-button:hover
{
background-color: #008080;
}
/* css  for tool *****************/
h5#people-id
{
    font-size: 15px;
    color: #000;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    padding: 5px;
    font-family: Roboto;
    color: #fff !important;
    font-weight: normal !important;
}

.panel-head {
    
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.notifi-parah p
{
     font-size: 14px;
    color: #fff;
}
span.view_all
{
    color: #fff;
    /* font-weight: bold; */
    font-size: 15px;
    font-family: Roboto;

}
.view_all span:hover
{
    text-decoration: underline;


}

#connect-button
{
    display: inline-block;
    float: left;
}

.connect-button > a.button {
    color: #fff;
    font: 18px Helvetica, Arial, Roboto;
    text-decoration: none;
    padding: 2px 30px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background-color: #007D72;
    border: solid 3px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 0px;
} 



.panel-top
{
    border-bottom: 5px solid #99CCCC;
   /* height: 123px; */
    padding: 11px;
    background-color:#009999;
}
.panel-top img
{
 width: 190%;
 height: 190%;
 border: 3px solid #fff;
}
.panel-img
{
    border-bottom: 1px solid #ddd;
      padding: 11px;
}

h5#survey-id
{
    font-size: 16px;
    text-align: center;
    color: #000;
}


a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment
{
    font-size:13px;
    color:#4873b2;
    padding: 7px;
}
/*.comment {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}*/
.media-comment 
{
    margin-left: 46px;
}

.panel-sponsered_img img
{
    height: 100px;
    width: 254px;
}
#sponser_title
{
    font-size: 12px;
    padding:12px;
    margin-left: -13px;

}
#website_link
{
    color:#008080;
    margin-top: -22px;
}
.sponser_detail
{
    font-family: Roboto;
    font-size: 14px;
}

 .scrollbar
{
  padding: 0;
    max-height: 183px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left:0px;
    
    padding: 12px 12px;
  
}
.panel-headingsearch
{
    
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ddd;

}
input#b {
        /* width: 100%; */
    border: 0;
    border-radius: 20px;
    background: transparent;
    /* height: 16px; */
    color: #b4bdc4;
    text-shadow: 0 1px 1px #f5f5f5;
    border-color: #fff;
    text-align: center;
}
.setting_id
{
    float: right;
    padding: 24px;
    margin-top: -48px;
    font-size: 17px;
}

div.scroll {
    height: 1250px;
    overflow: scroll;
    overflow-x:hidden;
}
/*css for Q/A menu**************/
#buttons-survey
{
    margin-left: 140px;
}
#buttons-survey img:hover
{
    opacity: 0.8;
}
.survey-list
{
    margin: 0 0 0 2em;
}
.survey-list li
{
    list-style: circle;
    color: black;
    font-weight: bold;
}
#buttons-qa
{
padding: 12px;
}
#buttons-qa img:hover
{
    opacity:0.8;
}

h5#QA_id
{
    font-size: 14px;
    color: #000 !important;
    font-family: Roboto;
    line-height: 1.5;
    margin-left: 12px;
}
h5.survey1
{
    font-size: 15px;
    color: #000 !important;
    font-family: Roboto;
    line-height: 1.5;
    margin-left: 12px;  
}
.answer_button
{
    margin-left: 16px;
}
.view_button
{
    margin-left: 29px;
}
a.answer_button , a.view_button
{
    color:#4e5665;
    font-weight: bold;
}

a.answer_button:hover,a.view_button:hover
{
    text-decoration:underline;
    color:#1a66ff;
}
.QA_title
{
   
    margin-bottom: 12px;
}




/************** CSS for scrolltop************/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

.font_gears
{
    
    color: #008080;
    margin-right: -78px;
    font-size: 17px;
    margin-top: -16px;
}
.notification span
{
 
    color: #008080;
    /* margin-left: 185px; */
    margin-right: -39px; 
    font-size: 17px;
    margin-top: 25px; 
}
.wall-notification span
{
    color:#fff;
   /* margin-left: 185px; 
     margin-right: -39px;
     margin-top: 25px;*/ 
    font-size: 17px;
     
}
.wall-notification {
    position: relative;
}
.wall-notification .tag {
    position: absolute;
    top: -4px;
    right: -4px;
    background: #ff0000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
}
.wall-notification .tag p {
    font-size: 9px;
}

.btn-notes
{
    background-color:#008080;
    padding: 3px;
}
a.btn-notes,a.btn-project, a.btn-thoughts
{
   color:#fff;
}
.btn-project
{
    background-color:#c11f61;
    padding: 3px;
}

{
   color:#fff;
}
.btn-thoughts
{
    background-color:#49b7e9;
    padding: 3px;
}

.btn-project:hover ,.btn-notes:hover ,.btn-thoughts:hover 
{
    opacity: 2;
    background-color:black; 
}
span.ticker-word
{
    color:#9197a3;
    font-size:12px;
}
.ticker-head a
{
    color:#008080;
    font-size: 14px;
    font-weight: bold;
}
#ticker-name  a:hover 
{
    text-decoration: underline;
    color: red;
}
.ticker-head
{
    border-bottom: 1px solid #ddd;
   /* margin-top: -15px;*/
    margin: 0 0 0 1em;
}

.panel-rgtbar
{
   /* padding: 8px;*/
    margin-top: -1px;
}


.media-heading strong.user_name {
     font-weight: bold;
    font-size: 20px;
    line-height: 1.28;
    color: #fff;
    font-family: Roboto;
    text-transform: uppercase;
    }

.sponsored_caption h4
{
   color: #000;
    font-weight: 600;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
}
.sponsored_caption p
{
    color: #000;
    text-align: justify;
    font-family: Roboto;
    line-height: 23px;
}

.Qa-content
{
    margin-top: -1px;
}



a.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, Roboto;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}
a.button:hover {
   /* color: #fff;
    border-color: #333;*/
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    opacity: 0.8;
}
a.button:active {
    color: #000;
    border-color: #444;
}
a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover { border-left: solid 1px #999 }
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left:transparent;
}
a.big {
    font-size: 16px;
    padding: 10px 15px;
}
a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}

a.add {
    background: url(../images/wall/books.png) 8px 6px no-repeat #f3f3f3;
    padding-left: 30px;
}

a.add-big {
    background: url(http://cssdeck.com/uploads/media/items/5/5Fm069k.png)  15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
.chat-listed .dropdown-menu {
    left: -247px;
    right: 0;
    width: 100%;
    margin-bottom: -12px;
}

.QA-list
{
    margin-top: -15px;
}
.notification_qa img
{
    width: 95px;
    height: 74px;
    margin-left: 30px;
}
.notification_qa{
    margin-top: 2px;
}
#sponer
{
    margin: 0 0 0 1em;
}
.media-left ..fa-fw
{
    width: 0px !important;
    text-align: center;
}
/* Generic form fields */
/* styling for view-page*********************/

 h3#response-title
{
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding:18px;

}
.friend-request p
{
    margin: -33px 0px 0px 2em;
    font-size: 11px;
    color: #008080;
}

li.message-preview {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 12px;
    
    }
    .message-preview img
    {
        width: 80px;
        height: 80px;
    }
    #request-button{
    display: inline-block;
    padding: 12px;
   
}

.personal-contact h3
{
    color: #888;
    font-size: 14px;
    font-weight: bold;
    padding:17px;
    border-bottom: 1px solid #ddd;
}
.contact-logo
{
    margin-left: 16px;
}

a.user-button {
    width: 109px;
    color: #fff;
    font-size: 16px !important;
    background-color: #009999;
    margin-bottom: 7px;
 padding: 2px !important; 
}

.contact-logo li
{
    display: inline-block;
    margin-left: 0px;
}
.contact-logo img
{
    height: 35px;
    width: 35px;
    border-bottom: 1px solid #ddd;
 }
.contact-logo img:hover
{
  
  border:1px solid #ddd;

}
.personal-para p
{
    font-size: 12px;
    line-height: 14px;
    padding: 12px;
}
.contact-form
{
    margin-top: -18px;
    padding: 12px;
}
#add-button
{
    margin-top: -20px;
    padding: 2px
}
.search-form
{
    padding: 12px;
    margin-top: -18px;
}
.form-field
{
    line-height: 18px;
}
.connect-friend
{
    margin-left: 12px;
}
.form-place
{
    height: 28px;
}

.sponser_summary {
    font-family: Roboto;
    font-size: 12px
    }

    .panel-bar
    {
    padding: 8px;
    margin-top: -1px
    }

  

}
.Accept-button
{
    color: #4e5665;
}
.Accept-button:hover
{
    color:#008080;
}


/**** style for Mytimeline page***************************/
.user-information
{
    padding: 8px;
}
a.mutual_info
{
    font-size: 14px;
}
.mutual_detail
{
    margin: 0 0 0 1em;
}
p.inner-detail
{
    font-size: 12px;
}
.mutual_requestbutton
{
    margin-top: -9px;
}
.text .mutual_friend
{
    width: 20px;
    height: 20px;
}
a#user_info
{
 font-size:12px;
}
.media-body #user_info a:hover
{
    text-decoration: underline;
    
}
.user-information .media-left
{
    padding-right: 6px;
  
}
.user-information .media
{
   margin-top: 5px;

}
hr#user-line
{
    margin-top: 4px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}

.btn-like-sponser {
    border-color: #cccccc #c5c6c8 #b6b7b9;
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
   }
   .btn-like-sponser:hover {
   
    color: #008080;
    
   }
/* styling of search wall *******************/
.media-search
{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.media-news p
{
    margin: 0px;
    text-align: justify;
    font-size: 14px;
    color: #090f14;
    line-height:1.5;
    font-weight: 700px;
}
.media-news h4
{
    font-size: 14px;
    color: #000;
    font-weight:700;

}
.media-news h4:hover
{
    text-decoration: underline;
}
.media-top img
{
   width: 120px;
   height: 120px; 
}
#notifi-par
{
    font-size: 13px;
}
#connection-button{
    float: right;
}
.panel-exercise p
{
    font-size: 14px;
    color: #090f14;
    margin: 0px;
}
h3#search-title
{
    font-weight: bold;
    font-size: 14px;
    color: #777;
    padding: 7px;
}
p.address
{
    color: #4873b2;
}

/*** end search wall****/

.message-like
{
    margin-left: 29px;
}

.dash-menu .dropdown-menu li:hover a
{
    background-color: #008080;
    color:#fff !important;
}

.navbar-brand > img 
{
   margin-left: -204px;
    margin-top: -13px;
    width: 264px;
    height: 58px;
}
.dropdown-menu li a span
{
    margin-right: 10px;
}
.dropdown-menu li:hover a
{
    color: #fff !important;
    background-color:#009999 !important; 
}
.notification-setting
{
    margin-left: -264px;
    
}
.notification-dropdowns
{
  max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;  
}
.messages
{
    border-bottom: 1px solid #ddd;
}
.messages .media-object {
    height: 32px;
}

.message-like a
{
    color: #999999;
    padding: 16px;
}


/* iframe video css*/
.panel-thumbnail {
    position: relative;
    padding-bottom: 43.25%;
    padding-top: 25px;
    height: 0;
}


.panel-thumbnail iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin-left: 30px;
}
/* iframe video css*/

/=======survey csss=====/

.survey_titles
{
    padding: 12px;
}
.survey_titles ul li
{
    list-style: square;
    color: #337AB7;
}
.survey_titles ul li a
{
    font-size: 13px;
    font-family: Roboto;
    font-weight: bold;
}
.survey_titles ul li a:hover
{
    text-decoration: underline;
    color:#000;
}


#srch-term
{
    background-color: #5CB7B8;
    /* padding: 12px; */
    width: 206%;
    padding: 27px 23px;
    margin: -2px 0;
    box-sizing: border-box;
    margin-left: 53px;
    border: #5CB7B8;
}

/========== css for comment box =========/

span.replies
{
float: right;
}

hr.hr-line 
{
     height:4px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
#stars-default
{
    float: left;
}
/====== new css for friendlist==/

.thumbnail-friendlist
{
background-color:#009999;
}
.thumbnail-friendlist img
{
    width: 145px;
    height: 135px;
}
.friend-name h4
{
    color: #fff;
    font-size: 14px;
    font-family: Roboto;
}
 a.button-connection
{
    color: #fff !important;
    font: 17px Helvetica, Arial, Roboto;
    padding: 9px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background-color: #007D72;
    border: solid 3px #dcdcdc;
    border-radius: 2px;
    height: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 0px;
    line-height: 0px;
    margin-top: -5px;
}
.sponsored_caption p {
    text-align:center;
}

.disabledbutton {
    pointer-events: none;
    cursor: not-allowed;
    opacity:0.5;

    /*opacity: 0.;*/
    /*display: hidden;*/
    /*visibility: hidden;*/
}

a.viewReplies
{
    color:#009999;
    font-family: Roboto;
    font-size: 17px;
}
a.viewReplies:hover{
    text-decoration: underline !important;
}


h1.login-notice{
    font-family: Roboto;
    color: #000;
    font-size: 18px;
}

.panel-middlebar
{
    margin-top:-13px;
}
.panel-thirdbar
{
    margin-top:-13px;
}
.panel-forthbar
{
    margin-top:-13px;
}

p.lead
{
    padding: 0px;
    font-family: Roboto;
    font-size: 13px;
    margin:0 0 0 2em;
    text-align: justify;
}
.col-md-6.col-sm-6.new-contain {
    width: 53%;
    margin: 0 0 0 -23px;
}
.col-md-3.col-sm-3.tools-content {
     margin: 0 0 0 -23px;
}


 img.next-button
{
    margin-left:49px;
}
 img.kullabs_logo {
    margin-top:-11px;
    max-width:130%;
}
span.navbar-brand{

color:#009999 !important;
text-align: center;
text-transform: uppercase;
font-family: Roboto;
margin-left:0px;
font-size:30px;
}


.affix {
    top: 20px;
    width: 263px;
}
.btn-search {
    background-color:#009999;
    margin-top: -34px;
    border-radius: 0%;
    border:1px solid #fff;
}
.form-control
{
    border: 1px solid #fff !important;
}
   .rating-container .star {
    display: inline-block;
    margin: 0 0 !important;
    text-align: center;
    font-size: 12px !important;
}

span.share_page
{
    color: #009999;
    font-weight: 400;
    font-size: 17px;
    font-family: roboto;
}
h5.user-post-detail{
    color:#90949c;
    font-family: roboto;
}

strong.post_user {
    font-size: 16px;
    font-family: Roboto;
    color: #009999 !important;
    line-height: 23.5px;
    font-weight: bold;
}
strong.post_user:hover
{
    text-decoration:underline;
}
.next a{
    display: inline-block;
    padding: 0px 14px;
    background-color: #D7EBEB;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin:11px 0 0 2em;
    color:#009999;
}
p.tagline
{
    color:#90949c;
    font-size:14px;
    line-height:12px;
}
