p.lead
{
	padding: 15px;
    font-family: sans-serif;
    font-size: 14px;
}
#comment_box
    {
    display:inline-block;
    float:left;
    }
    
li#status_message
    {
    padding:0px;
    margin:0px;
    width:100%;
    list-style-type: none;
    }

    li#status_message a
    {
    color:#999999;
    padding: 16px;
    }

    .form-comment
    {
    	border-radius:2px;
    	height:28px;
    }

    #status_first
    {
    display:inline-block;
    float:left;
    padding: 12px;
    }
    #status
    {
    	width:94%;
    }
    .follow
    {
    	border-bottom: 1px solid rgba(178, 178, 178, 0.28);
    	border-top: 1px solid rgba(178, 178, 178, 0.28);
    	padding: 5px;
    }

    .arrow
    {
    	float: right;
    	padding: 10px;
    }