.sm,.sm ul,.sm li{display:block;list-style:none;padding:0;margin:0;line-height:normal;direction:ltr;}
ul.sm li{position:relative; }
ul.sm a{position:relative;display:block; }
ul.sm a.disabled{cursor:default;}
ul.sm ul{position:absolute;top:-999999px;left:-40000px;width:150px;}
ul.sm li{/**float:left; **/}
ul.sm-rtl{direction:rtl; }
ul.sm-rtl li{float:right; }
ul.sm ul li,ul.sm-vertical li{float:none; }
ul.sm a{white-space:nowrap;}
ul.sm ul a,ul.sm-vertical a{white-space:normal;}
* html ul.sm-vertical li{float:left;width:100%;}
* html ul.sm-vertical ul li{float:none;width:auto; }
*:first-child+html ul.sm-vertical>li{float:left;width:100%; }
ul.sm ul.sm-nowrap>li>a{ }
ul.sm:after{content:"\00a0";display:block;height:0;font:0/0 serif;clear:both;visibility:hidden;overflow:hidden;}
* html ul.sm{height:1px; }
*:first-child+html ul.sm{min-height:1px; }
ul.sm li *,ul.sm li *:before,ul.sm li *:after{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box; }
ul.sm{-webkit-tap-highlight-color:rgba(0,0,0,0); }


/** customized menu css for better views*/
/** customized menu css for better views*/
/** customized menu css for better views*/
ul.sm-blue ul, ul.sm-blue ul ul, ul.sm-blue ul ul ul, ul.sm-blue ul ul ul ul, ul.sm-blue ul ul ul ul ul 
											{  top:50px!important; margin:0px; padding:0px; width:auto;}
/** for arrow indicators **/											
ul.sm-blue > li a span.sub-arrow {position:absolute;top:46%;left:98%; margin-left:-5px; 
								  width:0; height:0; overflow:hidden; border-width:3px;
								  border-style:solid dashed dashed dashed; border-color:#333 transparent transparent transparent;}

/** for scroll when menu item is long **/
ul.sm-blue span.scroll-up, ul.sm-blue span.scroll-down { position:absolute; display:none; visibility:hidden; overflow:hidden; 
													 	 background:#000; height:60px; }
ul.sm-blue span.scroll-up-arrow, ul.sm-blue span.scroll-down-arrow {position:absolute;top:-2px;left:50%;margin-left:-8px;width:0;height:0;
																overflow:hidden;border-width:8px; border-style:dashed dashed solid dashed;
																border-color:transparent transparent #fff transparent;}
ul.sm-blue span.scroll-down-arrow {top:6px;border-style:solid dashed dashed dashed;border-color:#fff transparent transparent transparent;}

/** for fixing dropdown width **/
.sm-nowrap 	{ width:200px!important;}
.sm-nowrap li { width:200px!important;}

/** for selected **/ 

ul.sm-blue > li.selected a {color:#8e298e; border-bottom: 3px solid #8e298e;}
ul.sm-blue > li.selected span{
	color: #fff;}
ul.sm-blue > li.selected a:hover { color:#8e298e;}

ul.sm-blue > li.selected > ul > li a {background:#fff; color:#333; border-bottom: 0;}
ul.sm-blue > li.selected > ul > li a:hover{background:#8e298e; color:#fff;}
ul.sm-blue > li.selected > ul > li > ul > li a {background:#fff; color:#fff;}
ul.sm-blue > li.selected > ul > li > ul > li > ul > li a {background:#fff; color:#fff;}
ul.sm-blue > li.selected > ul > li > ul > li > ul > li > ul > li a {background:#fff; color:#fff;}



/** base level **/
ul.sm-blue {float:right; background:transparent; }

ul.sm-blue > li {display: inline-block; width:auto; padding:0px; float: left; transition: all 0.5s ease; margin: 0 10px; border-bottom: 3px solid transparent;}
ul.sm-blue > li span{color: #fff; font-size: 18px; margin-right: 3px;}
ul.sm-blue > li a:hover span{color:  #fff;}
ul.sm-blue > li a {float:left; width:auto; padding:5px 10px 5px 0; font-size:14px; color: #333; text-decoration:none; font-family: 'Open Sans', sans-serif; text-transform: uppercase; }

/** base level no highlights no hover**/
/** base level no highlights no hover**/
ul.sm-blue > li:hover {background: none;}
ul.sm-blue > li a.highlighted {background:none; color:#333;}
ul.sm-blue > li a:hover { color:#8e298e; border-bottom: 3px solid #8e298e; }

ul.sm-blue > li > ul > li a.highlighted {background: #832c97; color:#fff; }
ul.sm-blue > li > ul > li a:hover {background:#8e298e; color:#fff; border-bottom: 0;}
ul.sm-blue > li > ul > li a {font-size:13px;}

/** first level dropdown **/
ul.sm-blue > li > ul { background:#fff; box-shadow:0 0 10px #666; z-index: 9999999 !important;}
ul.sm-blue > li > ul > li { float:left; width:100%; margin:0px; padding:0px; }
ul.sm-blue > li > ul > li a {float:left; width:85%; margin:0px; padding:7px 7.5%; color:#000; text-decoration:none;}

/** second level dropdown **/
ul.sm-blue > li > ul > li > ul { background:#fff;  box-shadow:0 0 10px #666;}
ul.sm-blue > li > ul > li > ul > li	 { float:left; width:100%; margin:0px; padding:0px;  }
ul.sm-blue > li > ul > li > ul > li a {float:left; width:85%; margin:0px; padding:7px 7.5%; color:#000; text-decoration:none;}

/** third level dropdown **/
ul.sm-blue > li > ul > li > ul > li > ul { background:#fff;  box-shadow:0 0 10px #666;}
ul.sm-blue > li > ul > li > ul > li	> ul > li { float:left; width:100%; margin:0px; padding:0px; }
ul.sm-blue > li > ul > li > ul > li > ul > li a {float:left; width:85%; margin:0px; padding:7px 7.5%; 
												 color:#000; text-decoration:none;}

/** fourth level dropdown **/
ul.sm-blue > li > ul > li > ul > li > ul > li > ul	{ background:#fff;  box-shadow:0 0 10px #666;}
ul.sm-blue > li > ul > li > ul > li	> ul > li > ul > li { float:left; width:100%; margin:0px; padding:0px;  }
ul.sm-blue > li > ul > li > ul > li > ul > li > ul > li a {float:left; width:85%; margin:0px; padding:7px 7.5%; 
														   color:#000; text-decoration:none;}


/** Fifth level dropdown **/
ul.sm-blue > li > ul > li > ul > li > ul > li > ul > li > ul { background:#fff;  box-shadow:0 0 10px #666;}
ul.sm-blue > li > ul > li > ul > li	> ul > li > ul > li > ul > li { float:left; width:100%; margin:0px; padding:0px; }
ul.sm-blue > li > ul > li > ul > li > ul > li > ul > li > ul > li a {float:left; width:85%; margin:0px; padding:7px 7.5%; 
																	  color:#000; text-decoration:none;}

																	  


																	  
@media screen and (min-width: 969px) and (max-width: 1100px){

}

@media screen and (min-width: 768px) and (max-width: 968px){

ul.sm-blue > li a { font-size:14px; text-transform: none; padding:5px 9px 5px 0;}
ul.sm-blue > li {margin: 0 5px;}
}


@media screen and (max-width: 767px) {
ul.sm-blue > li {margin:0px; }
ul.sm-blue > li a{ width:90%; float:left; padding:0 5%; color:#fff;}
ul.sm-blue > li a:hover { color:#fff;  }
ul.sm-blue > li.selected a { color: #8e298e;}



.sm-nowrap    {width:100%!important;}
.sm-nowrap li {width:100%!important;}
/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */

ul.sm-blue{width:100%; margin:0px; padding:0px;}

ul.sm-blue ul { display:none;position:static !important;top:auto !important;  left:auto !important;margin-left:0 !important;
				margin-top:0 !important; width:auto !important;min-width:0 !important;max-width:none !important; background:#fff!important; width: 98%;}
			   
/** first level **/
ul.sm-blue > li{ width:98%; float:left; background:none; margin-bottom: 5px;}
ul.sm-blue > li a{ width:90%; float:left; padding:5px 5%; color:#333;}
ul.sm-blue > li a:hover{ color: #8e298e;}

/** second level **/
ul.sm-blue > li > ul > li > a{ width:90%; padding:10px 5%; background:#ccc;
							   color:#000;}

/** third level **/
ul.sm-blue > li > ul > li > ul > li > a{ width:90%; padding:10px 5%; background:#ccc;
										 color:#000;}

/** fourth level **/
ul.sm-blue > li > ul > li > ul > li > ul > li > a{ width:90%; padding:10px 5%; background:#ccc;  
												  color:#000;}

/** fifth level **/
ul.sm-blue > li > ul > li > ul > li > ul > li > ul > li > a{ width:90%; padding:10px 5%; background:#ccc;
															color:#000;}
	
ul.sm-blue > li> a, ul.sm-blue ul.sm-nowrap > li > a{white-space:normal;}
ul.sm-blue iframe {display:none;}


}																	  
																	  